<%= field_wrapper **field_wrapper_args, full_width: true do %>
  <div data-controller="simple-mde">
    <%= @form.text_area @field.id,
      class: classes("w-full js-has-simple-mde-editor"),
      data: {
        view: view,
        'simple-mde-target': 'element',
        'component-options': @field.options.to_json,
      },
      disabled: @field.is_readonly?,
      placeholder: @field.placeholder,
      style: @field.get_html(:style, view: view, element: :input)
    %>
  </div>
<% end %>
