<%= field_wrapper **field_wrapper_args, full_width: true do %>
  <div data-controller="easy-mde">
    <%= text_area_tag @field.id, @field.value,
      class: helpers.input_classes('w-full js-has-easy-mde-editor'),
      placeholder: @field.placeholder,
      disabled: disabled?,
      'data-easy-mde-target': 'element',
      'data-component-options': @field.options.to_json,
      'data-view': :show %>
  </div>
<% end %>
