<td class="px-4 py-2 leading-tight whitespace-nowrap h-12 text-blue-gray-800 <%= @classes %>" data-field-id="<%= @field.id %>">
  <% if @field.value.blank? && @dash_if_blank %>
    —
  <% else %>
    <%= content %>
  <% end %>
</td>
