<div class="absolute bg-secondary dark:bg-tertiary size-full content-center">
  <%= svg Avo.configuration.branding.placeholder, class: "relative mx-auto h-20 text-content-secondary", loading: :lazy %>
</div>
