<div class="space-x-2 flex flex-row [&>*:first-child]:pl-2 [&>*:last-child]:pr-2">
  <% @resource.render_row_controls(item: singular_resource_name).each do |control| %>
    <%= render_control control %>
  <% end %>
</div>
