<% if @resources.present?%>
  <div class="w-full grid grid-cols-1 xs:grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-6 gap-6 mt-8"
  data-selected-resources-name="<%= @resource.model_key %>" data-selected-resources="[]">
    <% @resources.each_with_index do |resource, index| %>
      <% cache_if Avo.configuration.cache_resources_on_index_view, resource.cache_hash(@parent_model) do %>
        <%= render(Avo::Index::GridItemComponent.new(resource: resource, reflection: @reflection, parent_model: @parent_model, parent_resource: @parent_resource)) %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div class="bg-white rounded shadow-panel">
    <%= helpers.empty_state resource_name: @resource.name.downcase.pluralize, related_name: params[:related_name], view_type: :grid %>
  </div>
<% end %>
