<%= sidebar_link t('avo.resources'), nil, large: true %>

<div class="w-full">
  <% resources.each do |resource| %>
    <% # @todo: maybe cache this partial ? %>
    <%= sidebar_link resource.plural_name.humanize(keep_id_suffix: true), resources_path(resource.model_class) %>
  <% end %>
</div>
