<%= sidebar_link t('avo.resources'), nil, large: true %>

<div class="w-full">
  <% resources.each do |resource| %>
    <%#= resource.inspect %>
        <%#= sidebar_link resource[:label], resource_path(resource[:resource_name]) %>

    <%= sidebar_link resource.plural_name.humanize(keep_id_suffix: true), resources_projects_path %>
    <%#= sidebar_link resource[:label], resource_path(resource[:resource_name]) %>
  <% end %>
</div>
