@import './../../../node_modules/simplemde/dist/simplemde.min.css';
@import './../../../node_modules/toastr/build/toastr.css';
@import './../../../node_modules/tippy.js/dist/tippy.css';
@import './../../../node_modules/tippy.js/themes/light.css';
@import './../../../node_modules/trix/dist/trix.css';
@import './../../../node_modules/flatpickr/dist/flatpickr.css';
@import './../../../node_modules/@algolia/autocomplete-theme-classic/dist/theme.css';

@import './../stylesheets/tailwindcss/base.css';

@import './../stylesheets/fonts.css';
@import './../stylesheets/typography.css';
@import './../stylesheets/tooltips.css';
@import './../stylesheets/alerts.css';
@import './../stylesheets/loader.css';
@import './../stylesheets/pagination.css';
@import './../stylesheets/breadcrumbs.css';
@import './../stylesheets/search.css';

@import './../stylesheets/components/status.css';
@import './../stylesheets/components/code.css';
@import './../stylesheets/components/progress.css';
@import './../stylesheets/tailwindcss/components.css';

@import './../stylesheets/tailwindcss/utilities.css';

html,
body {
  @apply antialiased relative h-full;
}

.will-change-transform {
  will-change: transform;
}

.fade-enter-active,
.fade-leave-active {
  will-change: opacity;
  will-change: transform;

  @apply transition transform duration-150;
}

.fade-enter-active {
  @apply relative ease-out delay-150;
}

.fade-leave-active {
  @apply relative ease-in;
}

.fade-enter {
  @apply delay-150 opacity-0 -translate-y-1;
}

.fade-enter-to {
  @apply  delay-150 opacity-100 translate-y-0;
}

.fade-leave {
  @apply opacity-100 translate-y-0;
}

.fade-leave-to {
  @apply opacity-0 translate-y-1;
}

.application-sidebar {
  .active:hover,
  .active {
    @apply bg-gray-200;
  }
}

.turbo-progress-bar {
  @apply bg-green-500;
}
