*-debug.log
*-error.log
/.nyc_output
/dist
/tmp
/log
/.git
/.github
/.vscode
/public
/public/avo-packs
node_modules/
/spec/dummy/public
/spec/dummy/node_modules
/spec/dummy/tmp
/spec/dummy/log
.idea
docker/
coverage/
pkg/
