*-debug.log
*-error.log
/.nyc_output
/dist
/tmp
/log
/scripts
/.git
/.github
/.vscode
/public
/public/avo-packs/
/public/javascripts/
node_modules/
/spec/dummy/public
/spec/dummy/node_modules
/spec/dummy/tmp
/spec/dummy/log
/spec/dummy/app/avo-components/*/node_modules/
/spec/dummy/app/avo-components/*/public/
.idea
docker/
coverage/
pkg/

avo*.gem
