*-debug.log
*-error.log
/.nyc_output
/dist
/tmp
/log
/.git
/.github
/.vscode
/pkg
/scripts
/public/avo-assets/avo.css
/public/avo-assets/avo.base.css
/public/avo-assets/avo.js
/public/avo-assets/avo.base.js
/public/avo-assets/avo.js.map
/public/avo-assets/avo.base.js.map
node_modules/
/spec/dummy/public
/spec/dummy/node_modules
/spec/dummy/tmp
/spec/dummy/log
/spec/dummy/storage
app/assets/builds
.idea
docker/
coverage/
pkg/

# Allow v1.0.0 files from tmp in docker
!tmp/Gemfile_v1.lock
!tmp/version_v1.rb
