<%= field_wrapper **field_wrapper_args do %>
  <div style="background-color: <%= @field.value %>" class="h-6 px-1 rounded-md text-white text-sm flex items-center justify-center leading-none">
    <%= @field.value %>
  </div>
<% end %>
