class Avo::Actions::<%= class_name.camelize %> < Avo::BaseAction
<%= configuration_options %>
  # self.visible = -> do
  #   true
  # end

  # def fields
  #   # Add Action fields here
  # end

  def handle(records:, fields:, current_user:, resource:, **args)
    records.each do |record|
      # Do something with your records.
    end
  end
end
