<div class="block" style="width:200px;">
  <div class="logo">
    logo
  </div>
  <div class="tools">
    1
    <%#= Avocado::App.app %>
    <%# Avocado::App.tools.each do |tool| %>
    <%# end %>
    <br>
    ---
      <%= Avocado::App.render_navigation %>
    ---
    <br>
    <%#= Avocado::App.render_navigation %>
    <%#= @hey %>
    2
  </div>
</div>
