<div class="flex mt-4 items-end">
  <span class="text-3xl"><%= @card.prefix %></span>
  <span class="text-5xl"><%= @card.result_data %></span>
  <span class="text-3xl"><%= @card.suffix %></span>
</div>
