<%= render Avo::TurboFrameWrapperComponent.new(params[:turbo_frame]) do %>
  <div class="w-full h-full flex items-center text-center">
    <div class="flex-1">
      Chartkick is missing.
      <a
        href="https://docs.avohq.io/2.0/upgrade.html#upgrade-from-2-17-to-2-18"
        target="_blank"
      >
        Manually require it in your
        <code class="inline">Gemfile</code>
      </a>.
    </div>
  </div>
<% end %>
