.breadcrumbs {
  @apply w-full;
}

.breadcrumbs__container {
  @apply flex flex-wrap gap-2 items-center;
}

.breadcrumbs__separator {
  @apply text-neutral-500 flex items-center mx-1;
}

.breadcrumbs__separator-icon {
  @apply h-4 w-4 stroke-current;
}
