.breadcrumb-element {
  @apply inline-flex items-center gap-2 font-medium leading-6 text-sm rounded-lg px-2 py-0.5;
}

.breadcrumb-element__icon {
  @apply shrink-0 flex items-center text-neutral-600 size-4;
}

.breadcrumb-element__initials {
  /* TODO: refresh the design tokens (border color, bg, text color) */
  @apply shrink-0 flex items-center justify-center ;
}

.breadcrumb-element__avatar {
  @apply inline-flex items-center;

}

.breadcrumb-element__text {
  @apply shrink-0 whitespace-nowrap;
}

.breadcrumb-element--link {
  .breadcrumb-element__text {
    @apply text-neutral-500;
  }

  &:hover {
    @apply bg-gray-100;
  }
}

.breadcrumb-element--current {
  .breadcrumb-element__text {
    @apply text-neutral-900;
  }
}

.breadcrumb-element__separator {
  @apply text-neutral-500 ms-2 flex items-center;
}

.breadcrumb-element__separator-icon {
  @apply h-4 w-4 stroke-current;
}

