.button {
  @apply inline-flex justify-center grow-0 items-center font-medium leading-none fill-current whitespace-nowrap transition-transform duration-50 cursor-pointer disabled:cursor-not-allowed disabled:opacity-60 data-[disabled='true']:opacity-60 gap-1.5 border border-transparent;

  --color-black-4: color-mix(in oklab, var(--color-black) 4%, transparent);

  /* Base styles for all button types */
  @apply rounded-lg;
  &:active:not(:disabled) {
    @apply translate-y-px;
  }
}

/* Primary style */
.button--style-primary {
  @apply text-accent-foreground border-accent-content;
  background: linear-gradient(180deg, var(--color-accent-content) 0%, var(--color-accent) 100%);


  box-shadow:
    0 -0.5px 0 0.1px var(--color-accent-content) inset,
    0 0.8px 0 0.1px color-mix(in oklab, var(--color-white) 45%, transparent) inset;

  &.button--hover,
  &:hover {
    @apply bg-accent/90;

    background: linear-gradient(180deg, color-mix(in oklab, var(--color-accent-content) 90%, var(--color-black)) 0%, color-mix(in oklab, var(--color-accent) 90%, var(--color-black)) 100%), var(--color-primary);

    /* shadows/skeumorphic-secondary */
    box-shadow: 0 -0.5px 0 0.1px var(--color-accent-content) inset, 0 0.8px 0 0.1px color-mix(in oklab, var(--color-white) 45%, transparent) inset;

  }

  &.button--active,
  &:active {
    @apply bg-accent;
    box-shadow: 0 0.5px 2px 0.5px var(--color-accent-content) inset;
  }

  &.button--focus-visible,
  &:focus-visible {
    @apply outline-none;
    box-shadow:
      inset 0 0.8px 0 0.1px rgba(255, 255, 255, 0.45),
      inset 0 -2px 0 1px #171717,
      0 0 0 4px rgba(23, 23, 23, 1),
      0 0 0 6px rgba(255, 255, 255, 1);
  }

  &.button--disabled,
  &:disabled,
  &[disabled],
  &[data-disabled='true'] {
    @apply bg-tertiary text-accent-foreground border-transparent;
    box-shadow: none;
  }
}

/* Outline style */
.button--style-outline {
  @apply bg-primary text-accent-content border-tertiary;
  box-shadow: 0 -1.5px 0 0.1px var(--color-secondary) inset, 0 0.8px 0 0.1px var(--color-primary) inset;

  &.button--hover,
  &:hover {
    background: linear-gradient(180deg, color-mix(in oklab, var(--color-accent-content) 10%, transparent) 0%, var(--color-black-4) 100%), var(--color-primary);

    /* shadows/skeumorphic-secondary */
    box-shadow: 0 -1.5px 0 0.1px var(--color-black-4) inset, 0 0.8px 0 0.1px var(--color-primary, #FFF) inset;
  }

  &.button--active,
  &:active {
    background: linear-gradient(180deg, color-mix(in oklab, var(--color-foreground) 10%, transparent) 0%, var(--color-black-4) 100%), var(--color-primary, #FFF);
    box-shadow: 0 4px 4px 0.5px var(--color-black-4)
  }

  &.button--focus-visible,
  &:focus-visible {
    @apply outline-none;

    box-shadow:
      0 0 0 2px var(--color-primary),
      0 0 0 4px var(--color-content),
      0 -1.5px 0 1px var(--color-secondary) inset,
      0 0.8px 0 1.3px var(--color-primary) inset;
  }

  &.button--disabled,
  &:disabled,
  &[disabled],
  &[data-disabled='true'] {
    @apply bg-secondary text-accent-content;
    box-shadow: none;
  }
}

/* Tertiary style (outline buttons) */
.button--style-text {
  @apply bg-transparent text-accent-content border border-transparent;

  &.button--hover,
  &:hover {
    @apply bg-secondary;
  }

  &.button--active,
  &:active {
    @apply bg-secondary;
  }

  &.button--focus-visible,
  &:focus-visible {
    @apply outline-none;
    box-shadow:
      0 0 0 2px rgba(23, 23, 23, 1),
      0 0 0 4px rgba(255, 255, 255, 1);
  }

  &.button--disabled,
  &:disabled,
  &[disabled],
  &[data-disabled='true'] {
    @apply text-content;
  }
}

/* Size variants */
.button--size-xs {
  @apply text-xs px-2 py-1.5;
}

.button--size-sm {
  @apply text-xs px-2 py-1.5;
}

.button--size-md {
  @apply text-sm px-3 py-2;
}

.button--size-lg {
  @apply text-sm px-3 py-3;
}

/* Icon button sizes */
.button--size-xs .button__icon,
.button--size-sm .button__icon{
  @apply h-3;
}
.button--size-md .button__icon,
.button--size-lg .button__icon {
  @apply h-4;
}

/* Icon spacing */
.button__icon {
  @apply pointer-events-none shrink-0 grow-0 w-auto -my-px;
}

.button__icon:not(:last-child) {
  @apply me-1;
}

/* Loading state */
.button--loading {
  @apply relative;
}

.button__spinner {
  @apply absolute inset-0 flex items-center justify-center;
}


.button--color-black {
  --color-accent: var(--color-avo-neutral-800);
  --color-accent-content: var(--color-avo-neutral-950);
  --color-accent-foreground: var(--color-white);
}

.button--color-teal {
  --color-accent: var(--color-teal-500);
  --color-accent-content: var(--color-teal-600);
  --color-accent-foreground: var(--color-white);
}

.button--color-red {
  --color-accent: var(--color-red-500);
  --color-accent-content: var(--color-red-600);
  --color-accent-foreground: var(--color-white);
}
.button--color-blue {
  --color-accent: var(--color-blue-500);
  --color-accent-content: var(--color-blue-600);
  --color-accent-foreground: var(--color-white);
}

.button--color-gray {
  --color-accent: var(--color-gray-500);
  --color-accent-content: var(--color-gray-600);
  --color-accent-foreground: var(--color-white);
}

.button--color-orange {
  --color-accent: var(--color-orange-500);
  --color-accent-content: var(--color-orange-600);
  --color-accent-foreground: var(--color-white);
}

.button--color-green {
  --color-accent: var(--color-green-500);
  --color-accent-content: var(--color-green-600);
  --color-accent-foreground: var(--color-white);
}

.button--color-amber {
  --color-accent: var(--color-amber-500);
  --color-accent-content: var(--color-amber-600);
  --color-accent-foreground: var(--color-white);
}

.button--color-yellow {
  --color-accent: var(--color-yellow-500);
  --color-accent-content: var(--color-yellow-600);
  --color-accent-foreground: var(--color-white);
}

.button--color-lime {
  --color-accent: var(--color-lime-500);
  --color-accent-content: var(--color-lime-600);
  --color-accent-foreground: var(--color-white);
}

.button--color-emerald {
  --color-accent: var(--color-emerald-500);
  --color-accent-content: var(--color-emerald-600);
  --color-accent-foreground: var(--color-white);
}

.button--color-cyan {
  --color-accent: var(--color-cyan-500);
  --color-accent-content: var(--color-cyan-600);
  --color-accent-foreground: var(--color-white);
}

.button--color-sky {
  --color-accent: var(--color-sky-500);
  --color-accent-content: var(--color-sky-600);
  --color-accent-foreground: var(--color-white);
}

.button--color-indigo {
  --color-accent: var(--color-indigo-500);
  --color-accent-content: var(--color-indigo-600);
  --color-accent-foreground: var(--color-white);
}

.button--color-violet {
  --color-accent: var(--color-violet-500);
  --color-accent-content: var(--color-violet-600);
  --color-accent-foreground: var(--color-white);
}

.button--color-purple {
  --color-accent: var(--color-purple-500);
  --color-accent-content: var(--color-purple-600);
  --color-accent-foreground: var(--color-white);
}

.button--color-fuchsia {
  --color-accent: var(--color-fuchsia-500);
  --color-accent-content: var(--color-fuchsia-600);
  --color-accent-foreground: var(--color-white);
}

.button--color-pink {
  --color-accent: var(--color-pink-500);
  --color-accent-content: var(--color-pink-600);
  --color-accent-foreground: var(--color-white);
}

.button--color-rose {
  --color-accent: var(--color-rose-500);
  --color-accent-content: var(--color-rose-600);
  --color-accent-foreground: var(--color-white);
}
