.detail-view {
  @apply flex flex-col gap-y-4;
}

.detail-view__header {
  @apply w-full;
}

.detail-view__breadcrumbs {
}

.detail-view__content {
  @apply flex flex-col md:flex-row gap-4;
}

.detail-view__body {
  @apply w-full;
}

.detail-view__sidebar {
  @apply w-full md:w-1/3;
}

.detail-view--has-sidebar {
  .detail-view__body {
    @apply w-full;
  }
}

.detail-view--floating-sidebar {
}

.detail-view--full-width {
  .detail-view__body {
    @apply w-full;
  }
}
