.discreet-information {
   @apply inline-flex shrink-0 rounded-md gap-1 items-center py-0.5 text-xs h-6 text-neutral-600;
}

.discreet-information__icon {
  @apply inline size-4 text-foreground;
}
.discreet-information__text {
  @apply px-1 inline;
}
.discreet-information__badge {
  @apply inline-flex bg-neutral-25 rounded-md items-center font-semibold gap-1;

  .discreet-information__icon {
    @apply text-neutral-600 me-1 size-3;
  }
}

.discreet-information__key-value {
  @apply inline-flex items-center;
  .discreet-information__text {
    @apply font-semibold;
  }
}

.discreet-information__key {
  @apply rounded-sm py-0.5 px-2 font-normal;
  background: linear-gradient(180deg, var(--color-gray-alpha-100, rgba(0, 0, 0, 0.04)) 0%, rgba(0, 0, 0, 0.00) 100%), var(--button-background-hover, #F6F6F6);
}

.discreet-information--as-icon {
}
.discreet-information--as-text {
  @apply items-center;

  .discreet-information__text {
    @apply text-neutral-400;
  }
}
.discreet-information--as-badge {
  @apply bg-background px-2;
}
.discreet-information--as-key-value {
  @apply inline-flex items-center bg-background px-0.5;
}

