.field-wrapper {
  @apply relative flex flex-col grow leading-tight size-auto w-full md:flex-row md:items-center py-2 min-h-15 w-full grow-0 text-ellipsis overflow-scroll;
}

.field-wrapper__label {
  @apply flex self-start items-center shrink-0 w-full px-4 font-medium text-content text-sm md:w-60 pt-3;
}

.field-wrapper__help {
  @apply text-content-secondary mt-2 text-xs leading-4;
}

.field-wrapper__label-help {
  @apply text-content-secondary text-xs leading-none font-normal pb-3;
}

/* .field-wrapper__input:has(.input__field:disabled) ~ .field-wrapper__help {
  @apply opacity-60 cursor-not-allowed;
}


.field-wrapper__input:has(.input__field:disabled).input-wrapper--loading::after {
  @apply opacity-60 cursor-not-allowed;
} */

.field-wrapper__error {
  @apply text-danger-content mt-2 text-xs leading-4 inline-flex items-center gap-0.5;
}

.field-wrapper__error::before {
  content: "";
  @apply inline-block size-3 shrink-0;
  background-color: currentColor;
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Ccircle cx='12' cy='12' r='9'/%3E%3Cpath d='M10 8l4 8'/%3E%3Cpath d='M10 16l4 -8'/%3E%3C/svg%3E") no-repeat center / contain;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Ccircle cx='12' cy='12' r='9'/%3E%3Cpath d='M10 8l4 8'/%3E%3Cpath d='M10 16l4 -8'/%3E%3C/svg%3E") no-repeat center / contain;
}

.field-wrapper__content {
  @apply flex-1 flex flex-row px-4;
}

.field-wrapper__content-wrapper {
  @apply relative w-full md:w-8/12;
}

.field-wrapper__input {
  @apply relative w-full;
}



/* ==========================================================================
   Loading Spinner
   ========================================================================== */

.input-wrapper--loading {
    position: relative;
    display: inline-block;
    width: 100%;
}

.input-wrapper--loading input {
    @apply pe-7;
}

.input-wrapper--loading::after {
   @apply absolute end-2 top-1/2 rounded-full border-2 border-content border-e-tertiary pointer-events-none size-4.5;

  content: '';
  transform: translateY(-50%);
  transform-origin: center;
  animation: input-spinner-rotation 0.9s linear infinite;
}

@keyframes input-spinner-rotation {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

/* loading size variants */
.input-wrapper--loading:has(.input--size-sm)::after {
  @apply size-3.5;
}
.input-wrapper--loading:has(.input--size-md)::after {
  @apply size-4;
}
.input-wrapper--loading:has(.input--size-lg)::after {
  @apply size-4.5;
}

/* disabled & loading state */
.input-wrapper--loading:has(input:disabled)::after {
  @apply opacity-60 cursor-not-allowed;
}




.field-wrapper--full-width {
  .field-wrapper__content-wrapper {
    @apply w-full;
  }
}

/* Stacked modifier */
.all-fields-stacked .field-wrapper,
.field-wrapper.field-wrapper--stacked {
  @apply md:flex-col md:items-start gap-y-1 py-3;

  .field-wrapper__label {
    @apply md:w-full min-h-0 pt-0;
  }

  .field-wrapper__label-help {
    @apply pb-0;
  }

  .field-wrapper__content {
    @apply pt-0 px-4 w-full;
  }

  .field-wrapper__content-wrapper {
    @apply w-full;
  }
}

.container-small {
  .field-wrapper__content-wrapper {
    @apply w-full;
  }
}
