<div class="text-center text-sm text-gray-700">
  <a href="https://avohq.io/" target="_blank" title="The most beautiful, easy-to-use Ruby on Rails admin framework">Avo</a> · &copy; <%= Date.today.year %> AvoHQ · v<%= Avo::VERSION %>
</div>
