<div class="flex-1 flex flex-col justify-end <%= @card.chartkick_classes %>">
<%#= [@card.chartkick_classes, @card.chartkick_options].inspect %>
  <%#= send(@card.chart_type, @card.query(context: Avo::App.context, range: @range, dashboard: @dashboard, card: @card), **@card.chartkick_options) %>
  <%= send(@card.chart_type, @card.query(context: Avo::App.context, range: @range, dashboard: @dashboard, card: @card), **@card.chartkick_options) %>
</div>
