
<%= render Avo::PanelComponent.new(title: @dashboard.name, description: @dashboard.description) do |c| %>
  <% c.bare_content do %>
    <div class="min-h-24 grid-cols-6">
      <%= content_tag(:div, class: "grid gap-4 #{@dashboard.classes}") do %>
        <% @dashboard.cards.each do |card| %>
          <%= render 'card', card: card %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
