<%= field_wrapper **field_wrapper_args do %>
  <div class="flex items-center">
    <div class="space-y-2">
      <% @field.options.each do |id, label| %>
        <label class="block">
          <%= @form.check_box @field.id,
            {
              class: @classes,
              data: @data,
              disabled: disabled?,
              id: "#{@form_scope}_#{@field.id}_#{id}",
              style: @style,
              multiple: true,
              checked: checked?(id)
            },
            id,
            ""
          %>
          <%= label %>
        </label>
      <% end %>
    </div>
  </div>
<% end %>
