class <%= resource_class %> < Avo::BaseResource
  self.title = :id
  self.includes = [:posts, :post]

  fields do |field|
    field.id
    # add fields here
  end

  actions do |action|
    # add actions here
  end

  filters do |filter|
    # add filters here
  end
end
