<div class="flex flex-col">
  <%= render ui.panel do |panel| %>
    <% panel.with_header do %>
      <%= render ui.panel_header(title: "User tool", description: "User tool description") do |header| %>
        <% header.with_controls do %>
          <%= a_link('/avo', icon: 'heroicons/solid/academic-cap', style: :primary) do %>
            Dummy link
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% panel.with_card do %>
      <div class="flex min-h-24 flex-col p-4">
        <div class="space-y-4">
          <h3>🪧 This partial is waiting to be updated</h3>

          <p>
            You can edit this file here
            <code class="rounded-sm bg-gray-500 p-1 text-sm text-white">app/views/avo/resource_tools/user_tool.html.erb</code>.
          </p>

          <p>
            The resource tool configuration file should be here
            <code class="rounded-sm bg-gray-500 p-1 text-sm text-white">app/avo/resource_tools/user_tool.rb</code>.
          </p>

          <%
            # In this partial you have access to the following variables:
            # tool
            # @resource
            # @resource.record
            # params
            # Avo::Current.context
            # current_user
          %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
