class Avo::Resources::<%= class_name %> < Avo::Resources::Resource
  def configure
    @title = :id
    @search = :id
  end

  def fields(request)
    f.id

    # add fields here
  end

  def actions(request)
    # add actions here
  end

  def filters(request)
    # add filters here
  end
end
