<%= field_wrapper **field_wrapper_args do %>
  <div data-controller="hidden-input">
    <div class="tiptap__content" data-hidden-input-target="content">
      <%= sanitize @field.value.to_s %>
    </div>
  </div>
<% end %>
