<%= edit_field_wrapper field: @field, index: @index, form: @form, resource: @resource, displayed_in_modal: @displayed_in_modal do %>
  <div data-controller="date-field">
    <%= @form.datetime_field @field.id,
      class: helpers.input_classes('w-full', has_error: @field.model_errors.include?(@field.id)),
      placeholder: @field.placeholder,
      disabled: @field.readonly,
      data: {
        'date-field-target': 'input',
        'first-day-of-week': @field.first_day_of_week,
        'picker-format': @field.picker_format,
        'enable-time': true,
        time24hr: @field.time_24hr,
        timezone: @field.timezone,
        format: @field.format,
        placeholder: @field.placeholder,
        relative: @field.relative,
      }
    %>
  </div>
<% end %>
