<% if @license.pro? and @license.invalid? %>
  <div class="absolute w-full inset-auto bottom-0 z-50 p-4">
    <div class="rounded bg-blue-800 text-white px-4 py-2 text-medium">
      <exclamation-icon class="h-6 inline mr-1"></exclamation-icon> <strong>You're in Trial Mode</strong>: You are experiencing paid features that need to be licensed before deploying this site. Enjoy! <a href="https://avohq.io/pricing" target="_blank" class="float-right text-white hover:text-gray-400 flex items-center"><arrow-circle-right-icon class="h-6 inline mr-1"></arrow-circle-right-icon></a>
    </div>
  </div>
<% end %>
