<%= field_wrapper **field_wrapper_args do %>
  <div data-controller="tags-field">
    <%# dummy field %>
    <%= text_field_tag "#{@field.id}-dummy", '',
      class: classes("w-full"),
      data: {
        'tags-field-target': 'fakeInput',
      },
      disabled: disabled?,
      placeholder: @field.placeholder,
      style: @field.get_html(:style, view: view, element: :input),
      value: ''
    %>
    <%# real field %>
    <%= @form.text_field @field.id,
      class: classes("hidden w-full border-primary-500 focus-within:border-primary-500"),
      data: {
        'tags-field-target': 'input',
        'whitelist-items': @field.suggestions.to_json,
        'disallowed-items': @field.disallowed.to_json,
        'enforce-suggestions': @field.enforce_suggestions ? 1 : 0,
        'delimiters': @field.delimiters,
        'close-on-select': @field.close_on_select ? 1 : 0,
      },
      disabled: disabled?,
      placeholder: @field.placeholder,
      style: @field.get_html(:style, view: view, element: :input),
      value: @field.field_value.to_json
    %>
  </div>
<% end %>
