<%= field_wrapper field: @field, resource: @resource, index: @index, view: view, data: wrapper_data do %>
  <div class="flex gap-1 items-center flex-wrap">
    <% @field.field_value.each do |item| %>
      <%= render Avo::Fields::TagsField::TagComponent.new(label: label_from_item(item)) %>
    <% end %>
  </div>
<% end %>
