<div class="flex px-2 py-1 rounded bg-gray-100 text-sm text-gray-800 font-normal flex-shrink-0"
  <% if title.present? %>
    data-tippy="tooltip"
    title="<%= title %>"
  <% end %>
  data-target="tag-component"
>
  <%= label %>
</div>
