<div class="flex px-2 py-px rounded bg-gray-600 text-sm text-white font-normal flex-shrink-0"
  <% if title.present? %>
    data-tippy="tooltip"
    title="<%= title %>"
  <% end %>
>
  <%= label %>
</div>
