@import './tailwindcss/base.css';
@import './typography.css';
@import './tooltips.css';
@import './tailwindcss/components.css';
@import './tailwindcss/utilities.css';

html,
body {
  @apply antialiased relative h-full;
}

select.select-input {
  background-repeat: no-repeat;
  background-position: right .5rem center;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhZCIgZGF0YS1pY29uPSJjaGV2cm9uLWRvd24iIHJvbGU9ImltZyIgaGVpZ2h0PSIxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNDQ4IDUxMiIgY2xhc3M9InN2Zy1pbmxpbmUtLWZhIGZhLWNoZXZyb24tZG93biBmYS13LTE0IGZhLTd4Ij48ZyBjbGFzcz0iZmEtZ3JvdXAiPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTIyNC4xIDI4NC42NGwtNTYuODkgNTYuNzgtMTU0LTE1NC4zMWEyNCAyNCAwIDAgMSAwLTMzLjk0bDIyLjY1LTIyLjdhMjMuOTMgMjMuOTMgMCAwIDEgMzMuODQgMHoiIGNsYXNzPSJmYS1zZWNvbmRhcnkiPjwvcGF0aD48cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Ik00MzUgMTg3LjE1TDI0MSAzODEuNDhhMjMuOTQgMjMuOTQgMCAwIDEtMzMuODQgMGwtNDAtNDAgMjExLjM0LTIxMWEyMy45MyAyMy45MyAwIDAgMSAzMy44NCAwTDQzNSAxNTMuMjFhMjQgMjQgMCAwIDEgMCAzMy45NHoiIGNsYXNzPSJmYS1wcmltYXJ5Ij48L3BhdGg+PC9nPjwvc3ZnPg==);
}

.will-change-transform {
  will-change: transform;
}

.fade-enter-active,
.fade-leave-active {
  will-change: opacity;
  will-change: transform;

  @apply transition transform duration-150;
}

.fade-enter-active {
  @apply relative ease-out delay-150;
}

.fade-leave-active {
  @apply relative ease-in;
}

.fade-enter {
  @apply delay-150 opacity-0 -translate-y-1;
}

.fade-enter-to {
  @apply  delay-150 opacity-100 translate-y-0;
}

.fade-leave {
  @apply opacity-100 translate-y-0;
}

.fade-leave-to {
  @apply opacity-0 translate-y-1;
}
