@import './tailwindcss/base.css';
@import './typography.css';
@import './forms.css';
@import './tooltips.css';
@import './tailwindcss/components.css';
@import './tailwindcss/utilities.css';

html,
body {
  @apply antialiased relative h-full bg-gray-300;
}
