<div <% if @index == 0 %> class="overflow-hidden rounded-t" <% end %> data-field-id="<%= @field.id %>">
  <%= render Avo::Fields::Common::HeadingComponent.new value: @field.value, as_html: @field.as_html %>
</div>
