<div class="flex items-end text-gray-800">
  <span class="text-3xl"><%= @card.prefix %></span>
  <span class="text-5xl font-semibold"><%= @card.result_data %></span>
  <span class="text-3xl"><%= @card.suffix %></span>
</div>
