<div class="flex flex-col">
  <%= render Avo::PanelComponent.new title: 'Custom tool' do |c| %>
    <% c.tools do %>
      <div class="text-sm italic">This is the panels tools section.</div>
    <% end %>

    <% c.body do %>
      <div class="flex flex-col justify-between py-6 min-h-24">
        <div class="px-6 space-y-4">
          <h3>What a nice new tool 👋</h3>

          <p>
            You can edit this file here <code class='p-1 rounded bg-gray-500 text-white text-sm'>app/views/avo/tools/custom_tool.html.erb</code>.
          </p>

          <p>
            For this tool we created the <code class='p-1 rounded bg-gray-500 text-white text-sm'>custom_tool</code> method in the <code class='p-1 rounded bg-gray-500 text-white text-sm'>Avo::ToolsController</code>. You may delete it or move it to your own controller.
          </p>

          <p>
            A new <code class='p-1 rounded bg-gray-500 text-white text-sm'>Custom tool</code> item should have been added to the sidebar. Edit it in <code class='p-1 rounded bg-gray-500 text-white text-sm'>app/views/avo/sidebar/items/_custom_tool.html.erb</code>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
