<div class="flex flex-col">
  <%
    fields = [:id, :name, :age]
    fields = {
      id: {
        type: :id,
        required: true
      },
      name: {},
      age: {
        type: :number,
      }
    }
    items = [
      {
        id: 123,
        name: "User",
        age: 14,
        email: "test@test.com",
      },
      {
        id: 124,
        name: "User 2",
        age: 15,
        email: "test2@test.com",
      },
      {
        id: 125,
        name: "User 3",
        age: 16,
        email: "test3@test.com",
        _options: {
          id_param: :id,
          show_path: "/users/123"
        }
      }
      # .name
      # [:name]
    ]

    options = {
      id_param: :id,
      path: "/users/123"
    }

    model_key = "users"
    cache_hash = [model_key, Digest::MD5.hexdigest(model_key)] # ai
    options = {}


    #Avo::Resources::Base.for_dumb(name: "Users", fields:, options:)
  %>

  <%#= render Avo::RecordTableComponent.new(name: "Users", items:, fields:, options:, data: {}) %>

  <%#= render Avo::RecordTableComponent.new(items:, fields:, options:, data: {}) %>
</div>
