<span class="<%= badge_classes %>">
  <% if icon_only? %>
    <%= helpers.svg(icon, class: icon_classes) if icon.present? %>
  <% else %>
    <%= render_icon_content if icon.present? %>

    <% if label.present? %>
      <span class="badge__label"><%= label %></span>
    <% end %>
  <% end %>
</span>
