<span class="<%= badge_classes %>">
  <% if icon_only? %>
    <%= render_icon %>
  <% else %>
    <%= render_icon %>

    <% if @label.present? %>
      <span class="badge__label"><%= @label %></span>
    <% end %>
  <% end %>
</span>
