<%= content_tag :div, class: class_names(
  "dropdown-menu",
  ("hidden" if @hidden),
  @classes
), data: merged_data do %>
  <div class="dropdown-menu__list">
      <%= content %>
  </div>
<% end %>
