<%= content_tag :div, class: class_names(
  "dropdown-card",
  @classes
) do %>
  <% if header? %>
    <div class="dropdown-card__header">
      <%= header %>
    </div>
  <% end %>

  <% if body? %>
    <div class="dropdown-card__body">
      <div class="dropdown-card__content">
        <%= body %>
      </div>
    </div>
  <% end %>

  <% if footer? %>
    <div class="dropdown-card__footer">
      <%= footer %>
    </div>
  <% end %>
<% end %>
