<%= content_tag :div, class: class_names("dropdown"), data: do %>
  <%= trigger %>

  <% if items.present? %>
    <%= render Avo::UI::PopoverComponent.new(
      classes: class_names(
        "dropdown-popover",
        "css-animate-dialog-slide-down",
        @classes
      ),
      open: @open,
      data: {dropdown_menu_target: "menu"}.merge(@data)
    ) do %>
      <div class="dropdown-menu">
        <div class="dropdown-menu__group">
          <div class="dropdown-menu__list">
            <%= items %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
