<%= content_tag :dialog, class: class_names(
  "dropdown-popover",
  "css-animate-dialog-slide-down",
  @classes
), closedby: "any", data: @data do %>
  <div class="dropdown-menu">
    <div class="dropdown-menu__group">
      <div class="dropdown-menu__list">
        <%= content %>
      </div>
    </div>
  </div>
<% end %>
