<%= content_tag :dialog,
  class: class_names(
    "dropdown-popover",
    "css-animate-dialog-slide-down",
    @classes
  ), 
  open: @open,
  data: @data do %>
  <div class="dropdown-menu <%= @dropdown_menu_classes %>">
    <div class="dropdown-menu__group">
      <div class="dropdown-menu__list">
        <%= content %>
      </div>
    </div>
  </div>
<% end %>
