<%= content_tag :div, class: class_names(
  "dropdown-card",
  @classes
) do %>
  <% if header? %>
    <%= header %>
  <% end %>

  <% if body? %>
    <div class="dropdown-card__body">
      <%= body %>
    </div>
  <% end %>

  <% if footer? %>
    <%= footer %>
  <% end %>
<% end %>
