<div class="popover-menu">
  <% if trigger.present? %>
    <%= content_tag :button,
      type: "button",
      class: class_names("popover-menu__trigger", @trigger_classes),
      popovertarget: popover_id,
      data: @trigger_data do %>
      <%= trigger %>
    <% end %>
  <% end %>

  <% if items.present? %>
    <%= content_tag :div,
      popover: "auto",
      id: popover_id,
      class: class_names("popover-menu__panel", @classes),
      data: { controller: "popover-menu" } do %>
      <div class="dropdown-menu">
        <div class="dropdown-menu__group">
          <div class="dropdown-menu__list">
            <%= items %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
