<%= content_tag :div, class: "search-input" do %>
  <%= search_field_tag @name, @value,
    id: @id,
    placeholder: @placeholder,
    class: class_names(
      @classes,
      "search-input__input",
      "search-input__input--with-shortcut": @shortcut == :slash,
      "search-input__input--with-two-key-shortcut": @shortcut == :cmd_k
    ),
    disabled: @disabled,
    autocomplete: "off",
    data: @data
  %>

  <span class="search-input__prefix" aria-hidden="true">
    <%= helpers.svg "tabler/outline/search" %>
  </span>

  <% if @shortcut == :slash %>
    <span class="search-input__suffix" aria-hidden="true">
      <kbd>/</kbd>
    </span>
  <% elsif @shortcut == :cmd_k %>
    <span class="search-input__suffix" aria-hidden="true">
      <kbd>
        <abbr title="Command" class="no-underline os-pc:hidden">⌘</abbr>
        <abbr title="CTRL" class="no-underline os-mac:hidden">CTRL</abbr>
      </kbd>
      <kbd>K</kbd>
    </span>
  <% end %>
<% end %>
