/* ==========================================================================
  Size Variants
  ========================================================================== */

/* Small */
.input--size-sm,
.input--size-sm::placeholder {
  @apply py-1 text-xs leading-4;
}

/* Medium (default) */
.input--size-md,
.input--size-md::placeholder {
  @apply py-1.5 text-sm leading-5;
}

/* Large */
.input--size-lg,
.input--size-lg::placeholder {
  @apply py-2.5 text-sm leading-5;
}
