<%= field_wrapper **field_wrapper_args do %>
  <%
    content_classes = 'trix-content py-2 max-w-4xl'
    content_classes << ' hidden' unless @field.always_show
  %>
  <div data-controller="hidden-input">
    <% unless @field.always_show %>
      <%= link_to t('avo.show_content'), 'javascript:void(0);', class: 'font-bold inline-block', data: { action: 'click->hidden-input#showContent' } %>
    <% end %>
    <div class="<%= content_classes %> " data-hidden-input-target="content">
      <%= sanitize @field.value.to_s %>
    </div>
  </div>
<% end %>
