<%= field_wrapper **field_wrapper_args, full_width: true do %>
  <%= render Avo::Fields::Common::Files::ListViewerComponent.new(field: @field, resource: @resource) if @field.value.present? %>

  <% if can_upload_file? %>
    <div class="mt-2">
      <%= @form.file_field @field.id, **field_input_args %>
    </div>
  <% else %>
    —
  <% end %>
<% end %>
