<%= field_wrapper **field_wrapper_args, full_width: true do %>
  <%= render Avo::Fields::Common::FilesListViewerComponent.new(field: @field, resource: @resource) if @field.value.present? %>

  <% if @resource.authorization.authorize_action(:upload_attachments?, raise_exception: false) %>
    <div class="mt-2">
      <%= @form.file_field @field.id,
        accept: @field.accept,
        data: @field.get_html(:data, view: view, element: :input),
        direct_upload: @field.direct_upload,
        disabled: @field.is_readonly?,
        multiple: true,
        style: @field.get_html(:style, view: view, element: :input)
      %>
    </div>
  <% end %>
<% end %>
