<%= field_wrapper **field_wrapper_args do %>
  <% if @field.value.present? %>
    <div class="mb-2">
      <%= render Avo::Fields::Common::Files::ViewType::GridItemComponent.new resource: @resource, field: @field %>
    </div>
  <% end %>

  <% if can_upload_file? %>
    <%= @form.file_field @field.id, **field_input_args.merge({
      accept: @field.accept,
      direct_upload: @field.direct_upload,
      disabled: disabled?,
      class: "w-full" })%>
  <% else %>
    —
  <% end %>
<% end %>
