<%= field_wrapper **field_wrapper_args do %>
  <% if @field.value.present? %>
    <div class="mb-2">
      <%= render Avo::Fields::Common::Files::ViewType::GridItemComponent.new resource: @resource, field: @field %>
    </div>
  <% end %>

  <% if can_upload_file? %>
   <div class="mt-2 flex items-center" data-controller="file-field" data-file-field-target="previewContainer">
      <%= @form.file_field @field.id,
        accept: @field.accept,
        data: @field.get_html(:data, view: view, element: :input)
          .merge(action: "change->file-field#preview"),
        direct_upload: @field.direct_upload,
        disabled: disabled?,
        style: @field.get_html(:style, view: view, element: :input),
        autofocus: @autofocus,
        class: "w-full"
      %>
      <span data-file-field-target="removeIcon" 
                class="remove-icon text-red-500 cursor-pointer"
              data-action="click->file-field#remove" 
              style="display: none;">&times;</span>
    </div>
  <% else %>
    —
  <% end %>
<% end %>
