<div class="pb-2 space-y-1">
  <div class="flex items-center px-10 pt-2 pb-0 text-gray-600 text-xs uppercase font-semibold leading-none">
    <%= item.name %>
  </div>
  <div class="w-full space-y-1">
    <% items.each do |item| %>
      <%= render Avo::Sidebar::ItemSwitcherComponent.new item: item %>
    <% end %>
  </div>
</div>
