<%= field_wrapper(**field_wrapper_args) do %>
  <div class="flex flex-col gap-2">
    <% @field.options.each do |key, value| %>
      <div>
        <%= render Avo::UI::RadioButtonComponent.new(
          id: form.field_id(@field.id, key),
          name: form.field_name(@field.id),
          value: key,
          label: value,
          checked: (@field.value.to_s == key.to_s)
        ) %>
      </div>
    <% end %>
  </div>
<% end %>
