<%
  values = {}

  field.options

  if field[:value].present?
    field[:value].each do |key, value|
      if field[:value][key] === true || field[:value][key] === false
        key = field[:options][key.to_sym] if field[:options].present? && field[:options].has_key?(key.to_sym)
        values[key] = value
      end
    end
  end
%>

<%= index_field_wrapper field: field do %>
  <% if values.present? %>
  <div data-controller="boolean-group">
    <a data-boolean-group-target="trigger" href="javascript:void(0);">View</a>
    <div data-boolean-group-target="content" class="p-3 space-y-2 bg-white rounded-lg shadow-xl text-xs z-10">
    <% values.each do |label, value| %>
      <div>
        <%= render partial: 'avo/fields/common/boolean_check', locals: {checked: value} %>
        <div class="ml-6 text-left py-px"><%= label %></div>
      </div>
    <% end %>
    </div>
  </div>
  <% else %>
    —
  <% end %>
<% end %>

