class <%= class_name.camelize %> < Avo::Filters::MultipleSelectFilter
  self.name = "<%= name.underscore.humanize %>"
  # self.visible = -> do
  #   true
  # end

  def apply(request, query, value)
    query
  end

  def options
    {}
  end
end
