<div data-controller="alert"
  data-alert-dismiss-after-value="5000"
  data-alert-remove-delay-value="0"
  class="<%= classes %>"
  >
  <div class="px-2">
    <div class="flex h-full">
      <div class="flex items-center min-h-full">
        <%= helpers.svg icon, class: "h-6" %>
      </div>
      <div class="ml-3 w-0 flex-1 pt-0.5">
        <p class="text-sm leading-5 font-semibold">
          <%= sanitize message.to_s %>
        </p>
      </div>
      <div class="ml-4 flex-shrink-0 flex items-center">
        <button data-action="alert#close" class="inline-flex text-white focus:outline-none focus:text-gray-300 transition ease-in-out duration-150">
          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
