<div data-controller="alert"
  data-alert-dismiss-after-value="<%= Avo.configuration.alert_dismiss_time %>"
  data-alert-remove-delay-value="0"
  class="w-full shadow-lg px-4 py-3 rounded-sm relative border text-white pointer-events-auto bg-red-400 border-red-600"
>
  <div class="px-2">
    <div class="flex h-full">
      <div class="flex items-center min-h-full">
        <%= helpers.svg "tabler/filled/alert-circle", class: "h-6" %>
      </div>
      <div class="ms-3 w-0 flex-1 pt-0.5">
        <p class="text-sm leading-5 font-semibold">
          <strong>Backtrace:</strong>
          <pre class='overflow-y-scroll max-h-64 whitespace-pre-wrap text-xs'><%= @backtrace.join("\n") %></pre>
        </p>
      </div>
      <div class="ms-4 shrink-0 flex items-center">
        <button data-action="alert#close" class="inline-flex text-white focus:text-gray-300 transition ease-in-out duration-150 rounded-md">
          <%= helpers.svg "tabler/outline/x", class: "h-5 w-5" %>
        </button>
      </div>
    </div>
  </div>
</div>
