<%= tag.nav class: "breadcrumbs", aria: { label: "Breadcrumb" } do %>
  <div class="breadcrumbs__container">
    <% @items.each_with_index do |item, index| %>
      <% is_last = index == helpers.avo_breadcrumbs.length - 1 %>

      <%= render Avo::BreadcrumbElementComponent.new(
        text: item.title,
        url: item.path,
        icon: item.icon,
        avatar: item.avatar,
        initials: item.initials,
        separator: nil
      ) %>

      <% unless is_last %>
        <span class="breadcrumbs__separator">
          <% if @separator == ">" %>
            <%= helpers.svg "chevron-right", class: "breadcrumbs__separator-icon" %>
          <% else %>
            /
          <% end %>
        </span>
      <% end %>
    <% end %>
  </div>
<% end %>
