<div class="flex flex-row justify-between opacity-0 group-hover:opacity-100 transition-opacity duration-200" data-controller="clipboard" data-clipboard-success-content-value=<%= success_value %>>
  <div class="hidden" data-clipboard-target="source"><%= @value %></div>
  <div class="text-xs xl:text-sm">
    <button type="button" data-action="clipboard#copy" data-clipboard-target="button">
      <a href="javascript:void(0)">
        <%= helpers.svg 'heroicons/outline/clipboard', class: "h-4 inline" %>
        <%= text_value %>
      </a>
    </button>
  </div>
</div>
