<%= content_tag :div,
  class: classes("relative flex flex-col md:flex-row md:items-center pb-2 md:pb-0 leading-tight min-h-14"),
  style: style,
  data: {
    field_id: @field.id,
    field_type: @field.type,
    **stimulus_attributes,
  } do %>
  <div class="h-full pt-4 md:pt-0 md:h-14 flex self-start items-center text-slate-800">
    <div class="<% if @displayed_in_modal %> md:w-48 <% else %> md:w-64 px-6 md:px-6 <% end %> w-48 flex uppercase font-semibold text-gray-500 text-sm" data-slot="label">
      <% if @form.present? %>
        <%= @form.label @field.id, label %>
      <% else %>
        <%= @field.name %>
      <% end %>
      <% if @field.is_required? %> <span class="text-red-600 ml-1">*</span> <% end %>
    </div>
  </div>
  <div class="flex-1 flex flex-row md:min-h-inherit py-2 <% unless @displayed_in_modal %> px-6 <% end %>">
    <%= content %>
  </div>
<% end %>
