<div class="related w-full -mt-4 md:-mt-4 lg:-mt-6 mb-2 flex flex-col">
  <%= image_tag helpers.main_app.url_for(@cover_photo), class: class_names("w-full object-cover", size_class), data: {component: self.class.to_s.underscore} %>
</div>
