<div class="flex gap-2 ml-2 mt-1">
  <% items.each do |item| %>
    <%= content_tag element_tag(item), **element_attributes(item), class: "flex gap-1 text-xs font-normal text-gray-600 hover:text-gray-900", title: item.tooltip, data: {tippy: :tooltip, **data(item)} do %>
      <%= item.label if item.label.present? %> <%= helpers.svg item.icon, class: "text-2xl h-4" %>
    <% end %>
  <% end %>
</div>
