<div class="relative col-span-full border-t border-gray-300 border-solid" style= "border-width: 1.75px;">
  <div class="absolute inset-auto -translate-y-1/2 -translate-x-1/2 ml-1/2 z-20 text-xs font-semibold uppercase leading-none text-gray-500 bg-application px-2">
    <%if label.present?%>
      <%=label%>
    <%end%>
  </div>
</div>
