<div class="relative flex items-center w-[calc(100%+2rem)] border-t border-tertiary border-solid my-1 -mx-2 px-2" data-component-name="<%= self.class.to_s.underscore %>">
  <% if @label.present? %>
    <div class="relative inset-auto z-20 text-xs leading-none text-content-secondary px-2 pt-2 pb-1 font-medium">
      <%= @label %>
    </div>
  <% end %>
</div>
