<% if @add_background %>
  <div class="bg-white rounded shadow-panel">
<% end %>
<div class="relative flex-1 flex flex-col items-center justify-center space-y-12 py-24">
  <%= helpers.svg view_type_svg, class: 'h-[250px]' %>
  <div class="text-gray-500 text-center">
    <%= message %>
  </div>
</div>
<% if @add_background %>
  </div>
<% end %>
