<div class="relative flex-1 flex flex-col items-center justify-center space-y-2 py-6 border border-dashed border-content-secondary rounded-lg">
  <div class="text-content-secondary text-center">
    <%= text %>
  </div>
</div>
