<div class="flex flex-wrap gap-2" data-target="tab-switcher">
  <% visible_items.each do |tab| %>
    <%= a_link tab_path(tab),
      color: selected?(tab) ? :primary : :gray,
      style: selected?(tab) ? :outline : :text,
      size: :sm,
      class: selected?(tab) ? ' z-20' : '',
      title: tab.description,
      data: {
        tippy: tab.description.present? ? 'tooltip' : '',
        control: "view-type-toggle-#{tab.name}",
        selected: selected?(tab),
        action: 'click->tabs#changeTab',
        tabs_id_param: tab.name
      } do %>
      <%= tab.name %>
    <% end %>
  <% end %>
</div>
