<div class="w-full">
  <% if @resources.present?%>
    <table class="w-full px-4 overflow-hidden"
      data-selected-resources-name="<%= @resource.plural_name.downcase %>"
      data-selected-resources="[]"
    >
      <%= render partial: 'avo/partials/table_header', locals: {fields: @resource.get_fields(view_type: :table, reflection: @reflection)} %>
      <tbody>
        <% @resources.each_with_index do |resource, index| %>
          <% cache_if Avo::PACKED, [resource.model, resource.file_hash] do %>
            <%= render(Avo::TableRowComponent.new(resource: resource, reflection: @reflection, parent_model: @parent_model)) %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <%= helpers.empty_state @resource.name.downcase %>
  <% end %>
</div>
