<div class="space-x-2 flex flex-row justify-around w-full">
  <% if resource.authorization.authorize_action(:show, raise_exception: false) %>
    <%= link_to helpers.svg('media/svgs/eye.svg', class: 'text-gray-500 h-6 hover:text-gray-600'),
      helpers.resource_path(resource.model),
      title: t('avo.view_item', { item: resource.model.model_name.name.downcase }).capitalize,
      data_control: :show %>
  <% end %>

  <% if resource.authorization.authorize_action(:edit, raise_exception: false) %>
    <%= link_to helpers.svg('media/svgs/edit.svg', class: 'text-gray-500 h-6 hover:text-gray-600'),
      helpers.edit_resource_path(resource.model),
      title: t('avo.edit_item', { item: resource.model.model_name.name.downcase }).capitalize,
      data_control: :edit %>
  <% end %>

  <% if params[:via_relation] == 'has_many' %>
    <%= link_to helpers.svg('media/svgs/trash-sm.svg', class: 'text-gray-500 h-6 hover:text-gray-600'),
      resource_detach_path(params[:resource_name], params[:id], params[:related_name], params[:related_id]),
      title: t('avo.detach_item', { item: resource.model.model_name.name.downcase }).capitalize,
      method: :delete,
      data: { confirm: t('avo.are_you_sure_detach_item', { item: resource.model.model_name.name.downcase }) },
      data_control: :destroy %>
  <% else %>
    <% if resource.authorization.authorize_action(:destroy, raise_exception: false) %>
      <%= link_to helpers.svg('media/svgs/trash.svg', class: 'text-gray-500 h-6 hover:text-gray-600'),
        helpers.resource_path(resource.model),
        title: t('avo.delete_item', { item: resource.model.model_name.name.downcase }).capitalize,
        method: :delete,
        data: {confirm: t('avo.are_you_sure') },
        data_control: :destroy %>
    <% end %>
  <% end %>
</div>
