<%= content_tag :div, id: "#{@resource.model_key}_body_content" do %>
  <% if @resources.present? %>
    <div class="w-full relative flex-1 flex mt-0">
      <%= render(@resource.resolve_component(Avo::Index::ResourceTableComponent).new(
        resources: @resources,
        resource: @resource,
        reflection: @reflection,
        parent_record: @parent_record,
        parent_resource: @parent_resource,
        pagy: @pagy,
        query: @query,
        actions: @actions
      )) %>
    </div>
  <% else %>
    <%= helpers.empty_state by_association: params[:related_name].present?, view_type: @resource.view_type, add_background: true %>
  <% end %>
<% end %>
