<div class="flex">
  <div class="button-group">
    <% tabs.each_with_index do |tab, index| %>
      <%
        is_active_view = if params[:active_tab_name].present?
          tab.name.to_s == params[:active_tab_name].to_s
        else
          index == 0
        end
      %>
      <%= a_link tab_path(tab),
          color: is_active_view ? :gray : :primary,
          rounded: false,
          size: :sm,
          class: is_active_view ? ' bg-gray-100 border-gray-300' : ' z-20',
          title: tab.description || tab.name,
          data: {
            tippy: 'tooltip',
            control: "view-type-toggle-#{tab}",
            action: 'click->tabs#changeTab',
            tabs_id_param: tab.name
          } do %>
        <%= tab.name %>
      <% end %>
    <% end %>
  </div>
</div>
