<% if name.present? %><turbo-frame id="<%= name %>"><% end %>
<%
  # When rendering the frames the flashed content gets lost.
  # We're appending it back if it's a turbo_frame_request.
%>
<% if helpers.turbo_frame_request? %>
  <%= helpers.turbo_stream_action_tag :append, target: 'alerts', template: render(Avo::FlashAlertsComponent.new(flashes: helpers.flash)) %>
<% end %>
  <% if params[:avo_layout] == "popover" %>
    <div class="absolute border-4 bg-white inset-auto bottom-0">
  <% end %>
  <%= content %>
  <% if params[:avo_layout] == "popover" %>
    </div>
  <% end %>
<% if name.present? %></turbo-frame><% end %>
