<p>
  hello <%=  root_path %>
</p>
<div>

  <strong>look here:</strong> <%= Avocado::ResourceManager.say_hello %>
  <strong>helper here:</strong> <%= say_bye %>
</div>
<%# path = Avocado::ROOT_PATH.join('src', 'tools') %>
<%# t = Dir[path] %>
<%# t.each do |file| %>
<%#= file %>

  <%#= File.read(file).directory?.inspect %>
<%# end %>
