<div class="p-8 bg-primary rounded-lg max-w-xs">
  <div class="space-y-2">
    <h4 class="text-xs font-semibold text-content-secondary uppercase tracking-wide mb-4">Default Navigation Item</h4>

    <%= render Avo::Sidebar::LinkComponent.new(
      label: label,
      type: type.to_sym,
      disabled: disabled,
      counter: counter.presence,
      icon: icon.presence,
      path: path.presence
    ) %>
  </div>
</div>
