<!-- Page info -->
<div class="flex items-center justify-center h-8 pr-3 border-r border-gray-200 py-1">
  <p
    class="text-sm font-normal text-gray-900 leading-5 whitespace-nowrap"
    role="status"
    aria-live="polite"
    aria-atomic="true"
  >
    <span class="font-bold"><%= @start_item %>-<%= @end_item %></span> of <%= @total_items %>
  </p>
</div>

