<%= edit_field_wrapper field: field, index: index, form: form, dash_if_empty: false, displayed_in_modal: displayed_in_modal do %>
  <div class="h-8 flex items-center">
    <% # @todo: has_errors & field reference options %>
    <%= form.check_box field[:id],
      class: 'mr-2 text-lg h-4 w-4',
      disabled: field[:readonly]
    %>
  </div>
<% end %>
