<div <% if index == 0 %>class="overflow-hidden rounded-t-xl"<% end %> data-field-id="<%= field[:id] %>">
  <%= render partial: 'avo/fields/common/heading', locals: {value: field[:name], as_html: field[:as_html]} %>
</div>
