<div class="block bg-blue-800 text-white" style="width: 240px;">
  <div class="logo">
    <%#= inline_svg_pack_tag 'media/svgs/acorn.svg' %>
  </div>
  <div class="tools p-4">
    <div class="py-4">
      <%= router_link 'Dashboard', '/' %>
    </div>
    <%= render_navigation %>
  </div>
</div>
