<div class="block bg-blue-800 text-white" style="width: 240px;">
  <div class="logo">
    <%#= inline_svg_pack_tag 'media/svgs/acorn.svg' %>
  </div>
  <div class="tools pl-4">
    <div class="py-4">
      <router-link to="/" class="text-white font-semibold" exact>Dashboard</router-link>
    </div>
    <resources-navigation :resources='<%= Avocado::App.get_resources_navigation %>'>
  </div>
</div>
