<div id="<%= dom_id file %>">
  <% if file.present? %>
    <%= render Avo::UI::FileUploadItemComponent.new(
      title: file.filename.to_s,
      size_label: helpers.number_to_human_size(file.byte_size),
    ) do %>
      <%= render Avo::Fields::Common::Files::ControlsComponent.new(field: @field, file: file, resource: @resource) %>
    <% end %>
  <% end %>
</div>
