<%= show_field_wrapper field: @field, index: @index, full_width: true do %>
  <div data-controller="simple-mde" class="py-6">
    <%= text_area_tag @field.id, @field.value,
      class: helpers.input_classes('w-full js-has-simple-mde-editor'),
      placeholder: @field.placeholder,
      disabled: @field.readonly,
      'data-simple-mde-target': 'element',
      'data-component-options': @field.options.to_json,
      'data-view': :show %>
  </div>
<% end %>
