.dropdown {
  @apply relative inline-flex;
}


/* Closed state - hidden by default */
.dropdown-popover {
  @apply absolute z-10 rounded-lg bg-primary top-full end-0 bottom-auto start-auto;
  box-shadow: var(--box-shadow-card);
}

/* Backdrop - transparent for dropdown (no overlay) */
.dropdown-popover::backdrop {
  background-color: transparent;
}

/* Backdrop remains transparent when open */
.dropdown-popover:open::backdrop {
  background-color: transparent;
}

.dropdown-menu {
  @apply flex flex-col w-full rounded-lg border border-tertiary bg-primary overflow-hidden;
}

/* ==========================================================================
   List & Items
   ========================================================================== */

.dropdown-menu__group {
  @apply flex flex-col items-start self-stretch py-1;
}
.dropdown-menu__list {
  @apply flex flex-col items-start self-stretch px-1;
}

.dropdown-menu__item,
.dropdown-menu__list > :is(div) > :is(a, button) {
  @apply flex items-center w-full justify-start focus:outline-none gap-2 px-2 py-1.5 min-h-8 rounded-md border-none bg-transparent overflow-hidden text-ellipsis whitespace-nowrap text-content font-medium text-sm cursor-pointer leading-5;
}

.dropdown-menu__item:hover,
.dropdown-menu__list > :is(div) > :is(a, button):hover {
  @apply bg-secondary;
}

.dropdown-menu__item:focus-visible,
.dropdown-menu__list > :is(div) > :is(a, button):focus-visible {
  @apply ring-2 ring-inset ring-content bg-primary outline-none;
}

.dropdown-menu__icon,
.dropdown-menu__list >  :is(div) > :is(a, button) svg {
  @apply shrink-0 size-4 text-content;
}

