.panel {
  @apply flex flex-col gap-y-4 w-full;
}

.panel__header {
  @apply w-full;
}

.panel__footer {
  @apply w-full;
}

.panel__content {
  @apply relative flex flex-col md:flex-row gap-4 w-full;
}

.panel__card,
.panel__body {
  @apply w-full;
}

.panel__sidebar {
  @apply w-60 top-0 end-0 flex shrink-0;
}

.panel__cover-photo {
  @apply w-full;
}

.panel--floating-sidebar {
}

.panel--full-width {
  .panel__body {
    @apply w-full;
  }
}
