.panel {
  @apply flex flex-col gap-y-4 w-full;
}

.panel__header {
  @apply w-full;
}

.panel__footer {
  @apply w-full;
}

.panel__content {
  --panel-sidebar-width: calc(var(--spacing) * 84);
  @apply relative grid gap-4 w-full;
  grid-template-columns: minmax(0, 1fr);
}

.panel__card,
.panel__body {
  @apply w-full;
}

.panel__sidebar {
  @apply w-full top-0 end-0 flex;
}

.panel--has-sidebar .panel__content {
  grid-template-areas:
    "body"
    "sidebar";

  @media (width >= 48rem) {
    grid-template-areas: "body sidebar";
    grid-template-columns: minmax(0, 1fr) var(--panel-sidebar-width);
  }

  .panel__card,
  .panel__body {
    grid-area: body;
  }

  .panel__sidebar {
    grid-area: sidebar;
  }
}

.panel__cover-photo {
  @apply w-full;
}

.panel--floating-sidebar {
}

.panel--full-width {
  .panel__body {
    @apply w-full;
  }
}
