/* Scope Tabs Component - Scope-Specific Styles */
@layer components {
  /* Item */
  .tabs__item--scope {
    @apply rounded-none;
  }

  .tabs__item--scope.tabs__item--active {
    border-color: var(--color-accent, #171717);
  }

  /* Wrapper */
  .tabs__item-wrapper--scope {
    border-bottom-style: solid;
    border-bottom-width: var(--border-border, 1px);
    border-bottom-color: var(--color-base-tertiary, #e7e7e7);
  }

  .tabs__item-wrapper--scope.tabs__item--active {
    border-bottom: var(--border-2, 2px) solid var(--color-accent, #454545);
  }
}
