<div class="w-full">
  <table class="w-full px-4 overflow-hidden" data-selected-resources-name="<%= resource_model %>" data-selected-resources="[]">
    <%= render partial: 'table_header', locals: {fields: fields} %>
    <tbody>
      <% resources.each_with_index do |resource, index| %>
        <% cache resource[:model] do %>
          <%= render partial: 'table_row', locals: {resource: resource, index: index, resources_count: resources.count} %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
