<div>
  <h3>Documentation</h3>

  <div class="mt-2">
    We take pride in our documentation. Please check it out to see what you can build with Avo

    <a href="https://docs.avohq.io" class="text-bold cursor-pointer block mt-2">Check out the docs 👉</a>
  </div>
</div>
