hey hotwire 2222

<%= link_to 'Hotwire original', hotwire_path %>

<div data-controller="hello">
  <input data-hello-target="name" type="text">

  <button data-action="click->hello#greet">
    Greet
  </button>

  <span data-hello-target="output">
  </span>
</div>
