<%
  classes = 'inline-block '
  status == 'fail' ? classes += 'text-red-700'

  status == 'load' ? is_loading = true
%>
<div class="flex flex-shrink-0">
    <div class=<%= classes %>><%= label %></div>
    <% if is_loading %>
      <div class="spinner ml-1"/>
    <% end %>
  </div>

<style>
.spinner {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  top: 3px;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
</style>
