<div data-lightbox-target="modal" class="hidden fixed inset-0 z-[100] bg-black bg-opacity-60 flex" data-action="click->lightbox#close">
  <img data-lightbox-target="image" class="rounded-lg shadow-lg mx-auto mt-4 mb-4" alt="Expanded view of the image" src="" />
  <button
    class="flex"
    data-action="click->lightbox#close"
    type="button"
  >
    X
  </button>
</div>