<div data-lightbox-target="modal" class="hidden fixed inset-0 w-full h-full z-50 flex items-center justify-center bg-black bg-opacity-75 transition-opacity" data-action="click->lightbox#close">
  <div>
    <img
      data-lightbox-target="image"
      class="rounded-lg shadow-lg w-full h-full px-4"
      alt="Expanded view of the image"
      src=""
    />
    <button
      class="absolute top-4 right-4 text-white text-3xl font-bold bg-black bg-opacity-50 rounded-full w-12 h-12 flex items-center justify-center hover:bg-opacity-75 transition-all duration-200 cursor-pointer"
      data-action="click->lightbox#close"
      type="button"
    >
      &times;
    </button>
  </div>
</div>