<div data-lightbox-target="modal" class="hidden fixed inset-0 z-[100] flex justify-center" data-action="click->lightbox#close">
  <img data-lightbox-target="image" class="rounded-lg shadow-lg mt-4 mb-4" alt="Expanded view of the image" src="" />
  <button
    class="flex pt-2 ml-2"
    data-action="click->lightbox#close"
    type="button"
  >
    X
  </button>
</div>