<div data-lightbox-target="modal" class="hidden fixed inset-0 z-[100] bg-gray-400 flex" data-action="click->lightbox#close">
  <img data-lightbox-target="image" class="rounded-lg shadow-lg p-6 w-full" alt="Expanded view of the image" src="" />
  <button
    class="flex justify-end pr-6"
    data-action="click->lightbox#close"
    type="button"
  >
    X
  </button>
</div>