<div data-lightbox-target="modal" class="hidden fixed inset-0 z-[100] flex" data-action="click->lightbox#close">
  <img data-lightbox-target="image" class="rounded-lg p-6 w-full" alt="Expanded view of the image" src="" />
  <button
    class="absolute top-4 right-4 text-white text-3xl font-bold bg-black bg-opacity-50 rounded-full w-10 h-10 flex items-center justify-center hover:bg-opacity-75 transition-all duration-200 cursor-pointer"
    data-action="click->lightbox#close"
    type="button"
  >
   &times;
  </button>
</div>