@import "tailwindcss";

/* TODO: Figure out a way to add those dynamically */
@source "../../../tmp/avo/packages/avo-advanced";
@source "../../../tmp/avo/packages/avo-dashboards";
@source "../../../tmp/avo/packages/avo-dynamic_filters";
@source "../../../tmp/avo/packages/avo-kanban";
@source "../../../tmp/avo/packages/avo-menu";
@source "../../../tmp/avo/packages/avo-pro";

@source inline("bg-input-focused-ring");
@source inline("bg-{red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose,slate,gray,zinc,neutral,stone}-{50,{100..900..100},950}");

/* We couldn't find a way to implement blocklist in the CSS config */
/* blocklist: ['bg-[#{chart_color(index)}]', 'bg-[${color}]'] */

@theme {
  /* Variables added here should also be added to the theme.rb file */
  /* Theme variables */
  /*
    none - 0
    radius-sm - 4
    radius-lg - 8
    radius-2xl - 16
    radius-4xl - 32
   */
  --radius-boxes: var(--radius-sm);
  --radius-fields: var(--radius-sm);
  --radius-selectors: var(--radius-sm);

  --depth-effect: 0;
  --noise-effect: 0;

  --field-base-size: 3px; /* 3px-5px */
  --selectors-base-size: 3px; /* 3px-5px */

  --border-width: 1px; /* 0.5px-2px */

  /* Colors */
  --color-base-100: var(--color-neutral-100);
  --color-base-200: var(--color-neutral-300);
  --color-base-300: var(--color-neutral-500);
  --color-text: var(--color-neutral-700);

  --color-placeholder: var(--color-avo-placeholder, var(--color-pink-500));


  --color-primary-content: var(--color-neutral-800);
  --color-primary-text: var(--color-neutral-700);

  --color-input-text: var(--color-neutral-600);
  --color-input-bg: var(--color-neutral-50);
  --color-input-border: var(--color-neutral-700);
  --color-input-focused-text: var(--color-neutral-700);
  --color-input-focused-ring: var(--color-primary-content);

  --color-secondary-content: #f0f0f0;
  --color-secondary-text: #f0f0f0;

  --color-accent-content: #f0f0f0;
  --color-accent-text: #f0f0f0;

  --color-neutral-content: #f0f0f0;
  --color-neutral-text: #f0f0f0;

  --color-info-content: #f0f0f0;
  --color-info-text: #f0f0f0;

  --color-success-content: #f0f0f0;
  --color-success-text: #f0f0f0;

  --color-warning-content: #f0f0f0;
  --color-warning-text: var(--color-orange-600);

  --color-error-content: #f0f0f0;
  --color-error-text: #f0f0f0;


  --color-lol: 0;

  /* --color-white-text: #f0f0f0; */


  /* Avo config variables */

  --spacing-3/4: 75%;
  --sidebar-width: calc(var(--spacing) * 60);



  /* --color-white-text */

  --color-navbar: var(--color-neutral-700);
  --color-application: rgb(var(--avo-color-application-background));

  --color-primary-100: rgb(var(--avo-color-primary-100));
  --color-primary-150: rgb(var(--avo-color-primary-150));
  --color-primary-200: rgb(var(--avo-color-primary-200));
  --color-primary-300: rgb(var(--avo-color-primary-300));
  --color-primary-400: rgb(var(--avo-color-primary-400));
  --color-primary-500: rgb(var(--avo-color-primary-500));
  --color-primary-600: rgb(var(--avo-color-primary-600));
  --color-primary-700: rgb(var(--avo-color-primary-700));
  --color-primary-800: rgb(var(--avo-color-primary-800));
  --color-primary-850: rgb(var(--avo-color-primary-850));
  --color-primary-900: rgb(var(--avo-color-primary-900));

  --aspect-cover-sm: 9 / 2;
  --aspect-cover-md: 9 / 3;
  --aspect-cover-lg: 9 / 4;
  --aspect-media-library-item: 4 / 3;

  --font-sans: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --shadow-panel: '0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04)';
  --shadow-modal: ' 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04)';

  --breakpoint-xs: 30rem;
}


@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/container-queries';

@custom-variant has-cover-photo (&:where(.has-cover-photo *));
@custom-variant has-sidebar (&:where(.has-sidebar *));
@custom-variant has-record-selector (&:where(.has-record-selector *));
@custom-variant index-grid-view (&:where(.index-grid-view *));
@custom-variant kanban-dragging (&:where(.kanban-dragging *));
@custom-variant floating-controls (&:where(.floating-controls *));
@custom-variant shift-pressed (&:where(.shift-pressed *));

@layer components {
  @import './../../../node_modules/easymde/dist/easymde.min.css';
  @import './../../../node_modules/tippy.js/dist/tippy.css';
  @import './../../../node_modules/tippy.js/themes/light.css';
  @import './../../../node_modules/flatpickr/dist/flatpickr.css';
  @import './../../../node_modules/@algolia/autocomplete-theme-classic/dist/theme.css';
  @import './../../../node_modules/@yaireo/tagify/dist/tagify.css';

  @import './css/input.css';

  @import './css/fonts.css';
  @import './css/buttons.css';
  @import './css/typography.css';
  @import './css/tooltips.css';
  @import './css/loader.css';
  @import './css/pagination.css';
  @import './css/breadcrumbs.css';
  @import './css/search.css';
  @import './css/active-storage.css';
  @import './css/scrollbar.css';
  @import './css/sidebar.css';
  @import './css/spinner.css';

  @import './css/fields/status.css';
  @import './css/fields/code.css';
  @import './css/fields/progress.css';
  @import './css/fields/trix.css';
  @import './css/fields/tags.css';
  @import './css/fields/tiptap.css';

  .avo-input-label {
    @apply text-neutral-500;
  }

  html,
  body {
    @apply antialiased relative h-full;
  }

  .will-change-transform {
    will-change: transform;
  }

  .fade-enter-active,
  .fade-leave-active {
    will-change: opacity;
    will-change: transform;

    @apply transition transform duration-150;
  }

  .fade-enter-active {
    @apply relative ease-out delay-150;
  }

  .fade-leave-active {
    @apply relative ease-in;
  }

  .fade-enter {
    @apply delay-150 opacity-0 -translate-y-1;
  }

  .fade-enter-to {
    @apply  delay-150 opacity-100 translate-y-0;
  }

  .fade-leave {
    @apply opacity-100 translate-y-0;
  }

  .fade-leave-to {
    @apply opacity-0 translate-y-1;
  }

  .turbo-progress-bar {
    @apply bg-primary-400;
  }

  body.os-mac .mac\:hidden {
    display: none;
  }

  body.os-pc .pc\:hidden {
    display: none;
  }

  trix-editor {
    max-height: 320px !important;
    overflow-y: auto;
  }

  dialog#turbo-confirm {
    @apply bg-transparent;
  }

  dl {
    @apply text-sm grid gap-x-2 grid-cols-[max-content_1fr];

    dt {
      @apply font-bold;
    }

    dd {
      @apply ml-0 col-start-2;
    }
  }

  .shift-pressed {
    & .highlighted-row {
      @apply !bg-neutral-200;
    }
  }

  .selected-row {
    @apply !bg-neutral-100;
  }
}
