<%= render Avo::CommonFieldWrapperComponent.new(field: @field, resource: @resource, index: @index, form: @form, displayed_in_modal: @displayed_in_modal, label: @label, view: @resource.view, class: @classes) do %>
  <div class="self-center <% if @displayed_in_modal or @full_width %> w-full <% else %> w-full md:w-8/12 <% end %>" data-slot="value">
    <%= content %>
    <% if @model.present? and @model.errors.include? @field.id %>
      <div class="text-red-600 mt-2 text-sm"><%= @model.errors.full_messages_for(@field.id).to_sentence %></div>
    <% end %>
    <% if help.present? %>
      <div class="text-gray-600 mt-2 text-sm"><%== help %></div>
    <% end %>
  </div>
<% end %>
