<div data-controller="tippy">
  <%= link_to t("avo.view").humanize, "javascript:void(0);", data: {"tippy-target": :source} %>
  <div class="hidden" data-tippy-target="content">
    <div class="p-1 space-y-1">
      <% @options.each do |id, label| %>
        <div class="flex items-center flex-nowrap space-x-1">
          <%= render Avo::Fields::Common::BooleanCheckComponent.new checked: checked(id), size: :sm %>
          <div class="flex itdems-center text-left text-sm py-px"><%= label %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
