class <%= class_name.camelize %> < Avo::Dashboards::PartialCard
  self.id = "<%= name.underscore %>"
  self.label = "<%= name.underscore.humanize %>"
  self.partial = "avo/cards/<%= name.underscore %>"
  # self.display_header = true
  # self.cols = 1
  # self.rows = 1
end
