class <%= class_name.camelize %> < Avo::Dashboards::PartialCard
  self.id = "<%= name.underscore %>"
  self.label = "<%= name.underscore.humanize %>"
  self.partial = "avo/cards/<%= name.underscore %>"
  self.empty = false
  self.cols = 2
end
