.button-group {
  @apply flex;

  .button {
    @apply -me-px;

    &:first-child {
      @apply rounded-s;
    }

    &:last-child {
      @apply rounded-e;
    }
  }
}

form.button_to {
  @apply inline-flex;
}
