/* The dance we need to do to be able to have rounded corners on an HTML table */
.table-row {
  @apply rounded-ss-lg;

  &:first-child {
    & > td:first-child {
      @apply rounded-ss-lg border-s;
    }
  }
  &:first-child {
    & > td:last-child {
      @apply rounded-se-lg border-e;
    }
  }

  &:last-child {
    & > td {
      @apply border-b;
    }

    & > td:first-child {
      @apply rounded-es-lg border-s;
    }
    & > td:last-child {
      @apply rounded-ee-lg border-e;
    }
    @apply border-t border-tertiary;
  }

  & > td {
    @apply border-t border-tertiary;

    &:first-child {
      @apply border-s;
    }
    &:last-child {
      @apply border-e border-t;
    }
  }

  &:hover {
    background: var(--color-table-row-hover);
  }
}

@theme {
  --color-table-row-selected: var(--color-secondary);
  --color-table-row-hover: color-mix(in oklab, var(--color-secondary), var(--color-primary) 5%);
}

.shift-pressed {
  & .highlighted-row {
    background: var(--color-table-row-selected);
  }
}

.table-row:hover.selected-row,
.selected-row {
  background: var(--color-table-row-hover);
}
