/* The dance we need to do to be able to have rounded corners on an HTML table */
.table-row {
  @apply rounded-ss-lg;

  &:first-child {
    & > td:first-child {
      @apply rounded-ss-lg border-s;
    }
  }
  &:first-child {
    & > td:last-child {
      @apply rounded-se-lg border-e;
    }
  }

  &:last-child {
    & > td {
      @apply border-b;
    }

    & > td:first-child {
      @apply rounded-es-lg border-s;
    }
    & > td:last-child {
      @apply rounded-ee-lg border-e;
    }
    @apply border-t border-tertiary;
  }

  & > td {
    @apply border-t border-tertiary;

    &:first-child {
      @apply border-s;
    }
    &:last-child {
      @apply border-e border-t;
    }
  }

  &:hover {
    background: var(--table-row-selected-background);
  }

  --table-row-hover-background: var(--color-secondary);
  --table-row-selected-background: color-mix(in oklab, var(--color-content) 10%, transparent);
}

.shift-pressed {
  & .highlighted-row {
    background: var(--table-row-hover-background);
  }
}

.table-row:hover.selected-row,
.selected-row {
  background: var(--table-row-selected-background);
}
