/* The dance we need to do to be able to have rounded corners on an HTML table */
[data-component-name="avo/index/table_row_component"] {
  @apply rounded-ss-lg;

  &:first-child {
    & > td:first-child {
      @apply rounded-ss-lg border-s;
    }
  }
  &:first-child {
    & > td:last-child {
      @apply rounded-se-lg border-e;
    }
  }

  &:last-child {
    & > td {
      @apply border-b;
    }

    & > td:first-child {
      @apply rounded-es-lg border-s;
    }
    & > td:last-child {
      @apply rounded-ee-lg border-e;
    }
    @apply border-t border-tertiary;
  }

  & > td {
    @apply border-t border-tertiary;

    &:first-child {
      @apply border-s;
    }
    &:last-child {
      @apply border-e border-t;
    }
  }
}
