h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

kbd {
  @apply inline-flex min-w-5 items-center justify-center rounded-sm border border-secondary bg-secondary px-1 text-xs font-semibold text-content-secondary;

  /* color: currentColor;
  border: 1px solid currentColor;
  background-color: color-mix(in srgb, currentColor 8%, transparent); */
  box-shadow: var(--box-shadow-search-input-shortcut);
  transition: transform 0.08s ease-out, box-shadow 0.08s ease-out;
}

kbd.kbd--called {
  transform: scale(0.75) translateY(2px);
  box-shadow: none;
}

.hotkeys-hide-badges kbd {
  display: none;
}

.hotkeys-hide-badges .hotkey kbd {
  display: revert;
}

@layer base {
  a {
    color: var(--color-info-content);

    &:active,
    &:hover {
      color: color-mix(
        in oklab,
        var(--color-info-content),
        var(--color-content) 30%
      );
    }

    &:focus-visible {
      @apply outline-2 outline-offset-2 rounded-xs outline-content;
    }
  }
}
