@theme {
  /* Primitives - Light Mode */
  --color-white: rgba(255, 255, 255, 1.00);
  --color-white-alpha-0: rgba(255, 255, 255, 0.00);
  --color-white-alpha-800: rgba(255, 255, 255, 0.48);
  --color-orange-50: rgba(255, 247, 237, 1.00);
  --color-orange-100: rgba(255, 237, 213, 1.00);
  --color-orange-200: rgba(254, 215, 170, 1.00);
  --color-orange-300: rgba(253, 186, 116, 1.00);
  --color-orange-400: rgba(251, 146, 60, 1.00);
  --color-orange-500: rgba(249, 115, 22, 1.00);
  --color-orange-600: rgba(234, 88, 12, 1.00);
  --color-orange-700: rgba(194, 65, 12, 1.00);
  --color-orange-800: rgba(154, 52, 18, 1.00);
  --color-orange-900: rgba(124, 45, 18, 1.00);
  --color-orange-950: rgba(67, 20, 7, 1.00);
  --color-yellow-50: rgba(254, 252, 232, 1.00);
  --color-yellow-100: rgba(254, 249, 195, 1.00);
  --color-yellow-200: rgba(254, 240, 138, 1.00);
  --color-yellow-300: rgba(253, 224, 71, 1.00);
  --color-yellow-400: rgba(250, 204, 21, 1.00);
  --color-yellow-500: rgba(234, 179, 8, 1.00);
  --color-yellow-600: rgba(202, 138, 4, 1.00);
  --color-yellow-700: rgba(161, 98, 7, 1.00);
  --color-yellow-800: rgba(133, 77, 14, 1.00);
  --color-yellow-900: rgba(113, 63, 18, 1.00);
  --color-yellow-950: rgba(66, 32, 6, 1.00);
  --color-green-50: rgba(240, 253, 244, 1.00);
  --color-green-100: rgba(220, 252, 231, 1.00);
  --color-green-200: rgba(187, 247, 208, 1.00);
  --color-green-300: rgba(134, 239, 172, 1.00);
  --color-green-400: rgba(74, 222, 128, 1.00);
  --color-green-500: rgba(34, 197, 94, 1.00);
  --color-green-600: rgba(22, 163, 74, 1.00);
  --color-green-700: rgba(21, 128, 61, 1.00);
  --color-green-800: rgba(22, 101, 52, 1.00);
  --color-green-900: rgba(20, 83, 45, 1.00);
  --color-green-950: rgba(5, 46, 22, 1.00);
  --color-teal-50: rgba(240, 253, 250, 1.00);
  --color-teal-100: rgba(204, 251, 241, 1.00);
  --color-teal-200: rgba(153, 246, 228, 1.00);
  --color-teal-300: rgba(94, 234, 212, 1.00);
  --color-teal-400: rgba(45, 212, 191, 1.00);
  --color-teal-500: rgba(20, 184, 166, 1.00);
  --color-teal-600: rgba(13, 148, 136, 1.00);
  --color-teal-700: rgba(15, 118, 110, 1.00);
  --color-teal-800: rgba(17, 94, 89, 1.00);
  --color-teal-900: rgba(19, 78, 74, 1.00);
  --color-teal-950: rgba(4, 47, 46, 1.00);
  --color-blue-50: rgba(239, 246, 255, 1.00);
  --color-blue-100: rgba(219, 234, 254, 1.00);
  --color-blue-200: rgba(191, 219, 254, 1.00);
  --color-blue-300: rgba(147, 197, 253, 1.00);
  --color-blue-400: rgba(96, 165, 250, 1.00);
  --color-blue-500: rgba(59, 130, 246, 1.00);
  --color-blue-600: rgba(37, 99, 235, 1.00);
  --color-blue-700: rgba(29, 78, 216, 1.00);
  --color-blue-800: rgba(30, 64, 175, 1.00);
  --color-blue-900: rgba(30, 58, 138, 1.00);
  --color-blue-950: rgba(23, 37, 84, 1.00);
  --color-purple-50: rgba(250, 245, 255, 1.00);
  --color-purple-100: rgba(243, 232, 255, 1.00);
  --color-purple-200: rgba(233, 213, 255, 1.00);
  --color-purple-300: rgba(216, 180, 254, 1.00);
  --color-purple-400: rgba(192, 132, 252, 1.00);
  --color-purple-500: rgba(168, 85, 247, 1.00);
  --color-purple-600: rgba(147, 51, 234, 1.00);
  --color-purple-700: rgba(126, 34, 206, 1.00);
  --color-purple-800: rgba(107, 33, 168, 1.00);
  --color-purple-900: rgba(88, 28, 135, 1.00);
  --color-purple-950: rgba(59, 7, 100, 1.00);
  --color-warning-50: rgba(255, 250, 235, 1.00);
  --color-warning-100: rgba(255, 239, 198, 1.00);
  --color-warning-200: rgba(254, 223, 137, 1.00);
  --color-warning-300: rgba(254, 199, 75, 1.00);
  --color-warning-400: rgba(253, 176, 34, 1.00);
  --color-warning-500: rgba(247, 142, 9, 1.00);
  --color-warning-600: rgba(219, 103, 4, 1.00);
  --color-warning-700: rgba(182, 70, 7, 1.00);
  --color-warning-800: rgba(147, 54, 13, 1.00);
  --color-warning-900: rgba(121, 45, 14, 1.00);
  --color-warning-950: rgba(68, 32, 6, 1.00);
  --color-error-50: rgba(254, 243, 242, 1.00);
  --color-error-100: rgba(254, 228, 226, 1.00);
  --color-error-200: rgba(255, 205, 201, 1.00);
  --color-error-300: rgba(253, 170, 164, 1.00);
  --color-error-400: rgba(249, 121, 112, 1.00);
  --color-error-500: rgba(240, 68, 56, 1.00);
  --color-error-600: rgba(222, 48, 36, 1.00);
  --color-error-700: rgba(187, 36, 26, 1.00);
  --color-error-800: rgba(154, 34, 26, 1.00);
  --color-error-900: rgba(128, 35, 28, 1.00);
  --color-error-950: rgba(70, 13, 9, 1.00);
  --color-success-50: rgba(237, 252, 243, 1.00);
  --color-success-100: rgba(211, 248, 224, 1.00);
  --color-success-200: rgba(171, 239, 198, 1.00);
  --color-success-300: rgba(117, 224, 167, 1.00);
  --color-success-400: rgba(71, 205, 137, 1.00);
  --color-success-500: rgba(25, 176, 104, 1.00);
  --color-success-600: rgba(13, 142, 84, 1.00);
  --color-success-700: rgba(10, 114, 69, 1.00);
  --color-success-800: rgba(11, 90, 57, 1.00);
  --color-success-900: rgba(10, 74, 48, 1.00);
  --color-success-950: rgba(4, 42, 27, 1.00);
  --color-informative-50: rgba(237, 250, 255, 1.00);
  --color-informative-100: rgba(214, 241, 255, 1.00);
  --color-informative-200: rgba(181, 233, 255, 1.00);
  --color-informative-300: rgba(131, 221, 255, 1.00);
  --color-informative-400: rgba(72, 199, 255, 1.00);
  --color-informative-500: rgba(30, 168, 255, 1.00);
  --color-informative-600: rgba(6, 138, 255, 1.00);
  --color-informative-700: rgba(0, 112, 243, 1.00);
  --color-informative-800: rgba(8, 90, 197, 1.00);
  --color-informative-900: rgba(13, 78, 155, 1.00);
  --color-informative-950: rgba(6, 42, 75, 1.00);
  --color-black: rgba(0, 0, 0, 1.00);
  --color-avo-neutral-50: rgba(246, 246, 246, 1.00);
  --color-avo-neutral-100: rgba(231, 231, 231, 1.00);
  --color-avo-neutral-200: rgba(209, 209, 209, 1.00);
  --color-avo-neutral-200-alpha-700: rgba(209, 209, 209, 0.40);
  --color-avo-neutral-300: rgba(176, 176, 176, 1.00);
  --color-avo-neutral-400: rgba(136, 136, 136, 1.00);
  --color-avo-neutral-500: rgba(109, 109, 109, 1.00);
  --color-avo-neutral-600: rgba(93, 93, 93, 1.00);
  --color-avo-neutral-700: rgba(79, 79, 79, 1.00);
  --color-avo-neutral-800: rgba(69, 69, 69, 1.00);
  --color-avo-neutral-900: rgba(40, 40, 40, 1.00);
  --color-avo-neutral-950: rgba(23, 23, 23, 1.00);
  --color-gray-50: rgba(250, 250, 250, 1.00);
  --color-avo-neutral-950-alpha-0: rgba(23, 23, 23, 0.00);
  --color-avo-neutral-50-alpha-900: rgba(246, 246, 246, 0.56);
  --color-avo-neutral-950-alpha-500: rgba(23, 23, 23, 0.20);
  --color-gray-alpha-100: rgba(0, 0, 0, 0.04);
  --color-gray-alpha-200: rgba(0, 0, 0, 0.08);
  --color-gray-alpha-300: rgba(0, 0, 0, 0.12);
  --color-gray-alpha-400: rgba(0, 0, 0, 0.16);
  --color-gray-alpha-500: rgba(0, 0, 0, 0.24);
  --color-gray-alpha-600: rgba(0, 0, 0, 0.32);
  --color-gray-alpha-700: rgba(0, 0, 0, 0.40);
  --color-gray-alpha-800: rgba(0, 0, 0, 0.48);
  --color-gray-alpha-900: rgba(0, 0, 0, 0.56);

  /* Tokens - Light mode */
  --color-text-primary: var(--color-avo-neutral-950);
  --color-text-secondary: var(--color-avo-neutral-400);
  --color-text-tertiary: var(--color-avo-neutral-600);
  --color-text-navigation: var(--color-avo-neutral-800);
  --color-text-invert: var(--color-avo-neutral-50);
  --color-text-brand: var(--color-avo-neutral-950);
  --color-text-disabled: var(--color-avo-neutral-300);
  --color-surface-primary: var(--color-white);
  --color-surface-primary-soft: var(--color-gray-50);
  --color-surface-primary-alpha: var(--color-avo-neutral-50-alpha-900);
  --color-surface-secondary: var(--color-avo-neutral-50);
  --color-surface-tertiary: var(--color-avo-neutral-100);
  --color-surface-invert: var(--color-avo-neutral-950);
  --color-surface-brand: var(--color-avo-neutral-950);
  --color-surface-brand-secondary: var(--color-avo-neutral-800);
  --color-surface-gradient-secondary-dark: var(--color-gray-alpha-100);
  --color-surface-gradient-primary-dark: var(--color-avo-neutral-950);
  --color-surface-success: var(--color-success-100);
  --color-surface-informative: var(--color-informative-100);
  --color-surface-warning: var(--color-warning-100);
  --color-surface-error: var(--color-error-100);
  --color-surface-orange: var(--color-orange-100);
  --color-surface-orange-secondary: var(--color-orange-400);
  --color-surface-yellow: var(--color-yellow-100);
  --color-surface-yellow-secondary: var(--color-yellow-400);
  --color-surface-green: var(--color-green-100);
  --color-surface-green-secondary: var(--color-green-500);
  --color-surface-teal: var(--color-teal-100);
  --color-surface-teal-secondary: var(--color-teal-400);
  --color-surface-blue-lighter: var(--color-blue-50);
  --color-surface-blue-light: var(--color-blue-100);
  --color-surface-blue-light-hover: var(--color-blue-200);
  --color-surface-blue: var(--color-blue-500);
  --color-surface-blue-tertiary: var(--color-blue-200);
  --color-surface-purple: var(--color-purple-100);
  --color-surface-purple-secondary: var(--color-purple-500);
  --color-text-success: var(--color-success-600);
  --color-text-informative: var(--color-informative-600);
  --color-text-informative-hover: var(--color-informative-700);
  --color-text-warning: var(--color-warning-600);
  --color-text-error: var(--color-error-600);
  --color-text-orange: var(--color-orange-700);
  --color-text-orange-secondary: var(--color-orange-950);
  --color-text-yellow: var(--color-yellow-700);
  --color-text-yellow-secondary: var(--color-yellow-950);
  --color-text-green: var(--color-green-700);
  --color-text-green-secondary: var(--color-green-950);
  --color-text-teal: var(--color-teal-700);
  --color-text-teal-secondary: var(--color-teal-950);
  --color-text-blue: var(--color-blue-700);
  --color-text-blue-secondary: var(--color-blue-950);
  --color-text-purple: var(--color-purple-700);
  --color-text-purple-secondary: var(--color-purple-950);
  --color-icon-primary: var(--color-avo-neutral-950);
  --color-border-primary: var(--color-avo-neutral-100);
  --color-border-primary-soft: var(--color-avo-neutral-200-alpha-700);
  --color-border-secondary: var(--color-avo-neutral-200);
  --color-border-stack: var(--color-avo-neutral-100);
  --color-border-tertiary: var(--color-avo-neutral-50);
  --color-border-invert: var(--color-avo-neutral-900);
  --color-border-brand: var(--color-avo-neutral-950);
  --color-border-focus: var(--color-avo-neutral-950);
  --color-border-accent-blue: var(--color-blue-300);
  --color-icon-secondary: var(--color-avo-neutral-400);
  --color-icon-tertiary: var(--color-avo-neutral-600);
  --color-icon-navigation: var(--color-avo-neutral-800);
  --color-icon-invert: var(--color-avo-neutral-50);
  --color-icon-brand: var(--color-avo-neutral-950);
  --color-icon-disabled: var(--color-avo-neutral-300);
  --color-button-primary-background: var(--color-surface-brand);
  --color-button-primary-background-alpha: var(--color-avo-neutral-950-alpha-500);
  --color-button-primary-border: var(--color-surface-brand-secondary);
  --color-button-primary-background-disable: var(--color-surface-tertiary);
  --color-button-primary-background-hover: var(--color-surface-brand-secondary);
  --color-button-background-hover: var(--color-avo-neutral-50);
  --color-button-primary-text: var(--color-text-invert);
  --color-button-border: var(--color-border-primary);
  --color-button-primary-icon: var(--color-icon-invert);
  --color-button-border-focus: var(--color-border-focus);
  --color-button-secondary-background: var(--color-surface-primary);
  --color-button-text: var(--color-text-primary);
  --color-button-icon: var(--color-icon-primary);
  --color-button-icon-secondary: var(--color-icon-secondary);
  --color-icon-success: var(--color-success-600);
  --color-icon-informative: var(--color-informative-600);
  --color-icon-warning: var(--color-warning-600);
  --color-icon-error: var(--color-error-600);
  --color-icon-orange: var(--color-orange-700);
  --color-icon-yellow: var(--color-yellow-700);
  --color-icon-green: var(--color-green-700);
  --color-icon-teal: var(--color-teal-700);
  --color-icon-blue: var(--color-blue-700);
  --color-icon-blue-light: var(--color-blue-300);
  --color-icon-blue-dark: var(--color-blue-950);
  --color-icon-purple: var(--color-purple-700);
}
