/* TODO: rename this file to theming or something similar */
@theme {
  --color-avo-neutral-25: oklch(98.51% 0.0000 89.88);
  --color-avo-neutral-50: oklch(97.31% 0.0000 89.88);
  --color-avo-neutral-100: oklch(92.80% 0.0000 89.88);
  --color-avo-neutral-200: oklch(86.07% 0.0000 89.88);
  --color-avo-neutral-300: oklch(75.72% 0.0000 89.88);
  --color-avo-neutral-400: oklch(62.68% 0.0000 89.88);
  --color-avo-neutral-500: oklch(53.48% 0.0000 89.88);
  --color-avo-neutral-600: oklch(47.84% 0.0000 89.88);
  --color-avo-neutral-700: oklch(42.76% 0.0000 89.88);
  --color-avo-neutral-800: oklch(39.04% 0.0000 89.88);
  --color-avo-neutral-900: oklch(27.68% 0.0000 89.88);
  --color-avo-neutral-950: oklch(20.46% 0.0000 89.88);

  /* semantic - Mode 1 */
  --color-success: var(--color-green-500);
  --color-success-content: var(--color-green-700);
  --color-info: var(--color-blue-400);
  --color-info-content: var(--color-blue-700);
  --color-warning: var(--color-yellow-500);
  --color-warning-content: var(--color-yellow-700);
  --color-danger: var(--color-red-500);
  --color-danger-content: var(--color-red-700);

  --shadow-content: 0 8px 16px 0 rgba(0, 0, 0, 0.08);

  --box-shadow-card: 0px 8px 16px 0px rgba(0, 0, 0, 0.04);
  --box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.04);

  /* foundations - Light Mode */
  --color-background: var(--color-avo-neutral-25);
  --color-foreground: var(--color-avo-neutral-800);
  --color-primary: var(--color-white);
  --color-secondary: var(--color-avo-neutral-50);
  --color-tertiary: var(--color-avo-neutral-100);
  --color-content: var(--color-avo-neutral-950);
  --color-content-secondary: var(--color-avo-neutral-500);

  /* themes - Neutral Light */
  --color-accent: var(--color-avo-neutral-800);
  --color-accent-content: var(--color-avo-neutral-950);
  --color-accent-foreground: var(--color-white);

  --sidebar-width: 0rem;
}

/* Dark theme */
.dark {
  /* foundations - Dark Mode */
  --color-background: var(--color-avo-neutral-900);
  --color-foreground: var(--color-avo-neutral-50);
  --color-primary: var(--color-avo-neutral-950);
  --color-secondary: var(--color-avo-neutral-800);
  --color-tertiary: var(--color-avo-neutral-700);
  --color-content: var(--color-white);
  --color-content-secondary: var(--color-avo-neutral-300);

  /* themes - Neutral Dark */
  --color-accent: var(--color-avo-neutral-50);
  --color-accent-content: var(--color-avo-neutral-100);
  --color-accent-foreground: var(--color-avo-neutral-950);
}

.theme-slate {
  --color-avo-neutral-25: oklch(98.51% 0.0000 89.88);
  --color-avo-neutral-50: var(--color-slate-50);
  --color-avo-neutral-100: var(--color-slate-100);
  --color-avo-neutral-200: var(--color-slate-200);
  --color-avo-neutral-300: var(--color-slate-300);
  --color-avo-neutral-400: var(--color-slate-400);
  --color-avo-neutral-500: var(--color-slate-500);
  --color-avo-neutral-600: var(--color-slate-600);
  --color-avo-neutral-700: var(--color-slate-700);
  --color-avo-neutral-800: var(--color-slate-800);
  --color-avo-neutral-900: var(--color-slate-900);
  --color-avo-neutral-950: var(--color-slate-950);
}
.theme-stone {
  --color-avo-neutral-25: oklch(98.51% 0.0000 89.88);
  --color-avo-neutral-50: var(--color-stone-50);
  --color-avo-neutral-100: var(--color-stone-100);
  --color-avo-neutral-200: var(--color-stone-200);
  --color-avo-neutral-300: var(--color-stone-300);
  --color-avo-neutral-400: var(--color-stone-400);
  --color-avo-neutral-500: var(--color-stone-500);
  --color-avo-neutral-600: var(--color-stone-600);
  --color-avo-neutral-700: var(--color-stone-700);
  --color-avo-neutral-800: var(--color-stone-800);
  --color-avo-neutral-900: var(--color-stone-900);
  --color-avo-neutral-950: var(--color-stone-950);
}

.accent-orange {
  /* themes - Orange */
  --color-accent: var(--color-orange-500);
  --color-accent-content: var(--color-orange-600);
  --color-accent-foreground: var(--color-white);
}

.accent-yellow {
  /* themes - Yellow */
  --color-accent: var(--color-yellow-500);
  --color-accent-content: var(--color-yellow-600);
  --color-accent-foreground: var(--color-white);
}

.accent-green {
  /* themes - Green */
  --color-accent: var(--color-green-500);
  --color-accent-content: var(--color-green-600);
  --color-accent-foreground: var(--color-white);
}

.accent-blue {
  /* themes - Blue */
  --color-accent: var(--color-blue-500);
  --color-accent-content: var(--color-blue-600);
  --color-accent-foreground: var(--color-white);
}

.accent-purple {
  /* themes - Purple */
  --color-accent: var(--color-purple-500);
  --color-accent-content: var(--color-purple-600);
  --color-accent-foreground: var(--color-white);
}

.accent-pink {
  /* themes - Pink */
  --color-accent: var(--color-pink-500);
  --color-accent-content: var(--color-pink-600);
  --color-accent-foreground: var(--color-white);
}

.accent-red {
  /* themes - Red */
  --color-accent: var(--color-red-500);
  --color-accent-content: var(--color-red-600);
  --color-accent-foreground: var(--color-white);
}

.accent-teal {
  /* themes - Teal */
  --color-accent: var(--color-teal-500);
  --color-accent-content: var(--color-teal-600);
  --color-accent-foreground: var(--color-white);
}
