@theme {
  --color-neutral-25: oklch(98.51% 0.0000 89.88);
  --color-neutral-50: oklch(97.31% 0.0000 89.88);
  --color-neutral-100: oklch(92.80% 0.0000 89.88);
  --color-neutral-200: oklch(86.07% 0.0000 89.88);
  --color-neutral-300: oklch(75.72% 0.0000 89.88);
  --color-neutral-400: oklch(62.68% 0.0000 89.88);
  --color-neutral-500: oklch(53.48% 0.0000 89.88);
  --color-neutral-600: oklch(47.84% 0.0000 89.88);
  --color-neutral-700: oklch(42.76% 0.0000 89.88);
  --color-neutral-800: oklch(39.04% 0.0000 89.88);
  --color-neutral-900: oklch(27.68% 0.0000 89.88);
  --color-neutral-950: oklch(20.46% 0.0000 89.88);

  /* semantic - Mode 1 */
  --color-success: var(--color-green-500);
  --color-success-content: var(--color-green-700);
  --color-info: var(--color-blue-400);
  --color-info-content: var(--color-blue-700);
  --color-warning: var(--color-yellow-500);
  --color-warning-content: var(--color-yellow-700);
  --color-danger: var(--color-red-500);
  --color-danger-content: var(--color-red-700);

  --shadow-content: 0 8px 16px 0 rgba(0, 0, 0, 0.08);

  /* foundations - Light Mode */
  --color-background: var(--color-neutral-25);
  --color-foreground: var(--color-neutral-800);
  --color-neutral-primary: var(--color-white);
  --color-neutral-secondary: var(--color-neutral-50);
  --color-neutral-tertiary: var(--color-neutral-100);
  --color-neutral-content: var(--color-neutral-950);
  --color-neutral-content-secondary: var(--color-neutral-500);

  /* themes - Neutral Light */
  --color-accent: var(--color-neutral-800);
  --color-accent-content: var(--color-neutral-950);
  --color-accent-foreground: var(--color-white);
}

/* Dark theme */
.dark {
  /* foundations - Dark Mode */
  --color-background: var(--color-neutral-900);
  --color-foreground: var(--color-neutral-50);
  --color-neutral-primary: var(--color-neutral-950);
  --color-neutral-secondary: var(--color-neutral-800);
  --color-neutral-tertiary: var(--color-neutral-700);
  --color-neutral-content: var(--color-white);
  --color-neutral-content-secondary: var(--color-neutral-300);

  /* themes - Neutral Dark */
  --color-accent: var(--color-neutral-50);
  --color-accent-content: var(--color-neutral-100);
  --color-accent-foreground: var(--color-neutral-950);
}
