<%
  begin
    decoded_filters_param = JSON.parse(Base64.decode64(params[:filters]))
    set_value = decoded_filters_param[filter.class.to_s]
  rescue => exception
    if filter.default.present?
      set_value = filter.default.stringify_keys
    else
      set_value = {}
    end
  end
  set_value = {} if set_value.nil?
%>
<div data-controller="boolean-filter">
  <%= filter_wrapper name: filter.name do %>
    <div class="flex items-center">
      <div class="space-y-2">
        <% filter.options.each do |value, label| %>
          <label class="flex items-center text-gray-700 text-sm">
            <%= check_box_tag filter.id, value, set_value[value.to_s],
              class: 'mr-2 text-lg h-4 w-4',
              id: "avo_filters_#{filter.id.parameterize.underscore}",
              'data-filter-class': filter.class,
              'data-boolean-filter-target': 'option',
              'data-action': 'input->boolean-filter#changeFilter'
            %>
            <%= label %>
          </label>
        <% end %>
      </div>
      <%= link_to 'url_redirect', request.url, data: { 'boolean-filter-target': 'urlRedirect', 'turbo-frame': params[:turbo_frame] }, style: 'hidden', class: 'hidden' %>
    </div>
  <% end %>
</div>
