<%
  begin
    decoded_filters_param = JSON.parse(Base64.decode64(params[:filters]))
    set_value = decoded_filters_param[filter.class.to_s]
  rescue => exception
    set_value = filter.options.keys
  end
%>
<div data-controller="multiple-select-filter">
  <%= filter_wrapper name: filter.name do %>
    <%= select_tag filter.id, options_for_select(filter.options.invert, set_value),
      class: input_classes('w-full mb-0'),
      multiple: true,
      id: "avo_filters_#{filter.id.parameterize.underscore}",
      'data-filter-class': filter.class.to_s,
      'data-multiple-select-filter-target': 'selector'
    %>
    <%= a_button "Filter by #{filter.name}", class: 'mt-4', color: 'blue', data: { action: "multiple-select-filter#changeFilter" } %>
    <%= link_to 'url_redirect', request.url, data: { 'multiple-select-filter-target': 'urlRedirect', 'turbo-frame': params[:turbo_frame] }, style: 'hidden', class: 'hidden' %>
  <% end %>
</div>
