<%= turbo_frame_tag Avo::MODAL_FRAME_ID do %>
  <%= render(Avo::ModalComponent.new(width: :xl, body_class: "bg-application")) do |c| %>
    <div class="pt-4 pb-8">
      <%= render @component.new(
        resource: @resource,
        record: @record,
        view: @view,
      ) %>
    </div>
  <% end %>
<% end %>
