.markdown-content {
  line-height: 1.5;
  overflow-wrap: break-word;
  word-break: break-word;

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6,
  & table,
  & div,
  & pre,
  & p,
  & ul,
  & ol,
  & blockquote {
    @apply mt-4;
  }

  & ul {
    @apply list-disc;
  }

  & ol {
    @apply list-decimal;
  }
}

/* original `trix-content` styles taken from the trix.css */
.markdown-content {
  line-height: 1.5;
  overflow-wrap: break-word;
  word-break: break-word;
}
.markdown-content * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.markdown-content h1 {
  font-size: 1.2em;
  line-height: 1.2;
}
.markdown-content blockquote {
  border: 0 solid #ccc;
  border-left-width: 0.3em;
  margin-left: 0.3em;
  padding-left: 0.6em;
}
.markdown-content [dir=rtl] blockquote,
.markdown-content blockquote[dir=rtl] {
  border-width: 0;
  border-right-width: 0.3em;
  margin-right: 0.3em;
  padding-right: 0.6em;
}
.markdown-content li {
  margin-left: 1em;
}
.markdown-content [dir=rtl] li {
  margin-right: 1em;
}
.markdown-content pre {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  font-family: monospace;
  font-size: 0.9em;
  padding: 0.5em;
  white-space: pre;
  background-color: #eee;
  overflow-x: auto;
}
.markdown-content img {
  max-width: 100%;
  height: auto;
}
.markdown-content .attachment {
  display: inline-block;
  position: relative;
  max-width: 100%;
}
.markdown-content .attachment a {
  color: inherit;
  text-decoration: none;
}
.markdown-content .attachment a:hover, .markdown-content .attachment a:visited:hover {
  color: inherit;
}
.markdown-content .attachment__caption {
  text-align: center;
}
.markdown-content .attachment__caption .attachment__name + .attachment__size::before {
  content: " •";
}
.markdown-content .attachment--preview {
  width: 100%;
  text-align: center;
}
.markdown-content .attachment--preview .attachment__caption {
  color: #666;
  font-size: 0.9em;
  line-height: 1.2;
}
.markdown-content .attachment--file {
  color: #333;
  line-height: 1;
  margin: 0 2px 2px 2px;
  padding: 0.4em 1em;
  border: 1px solid #bbb;
  border-radius: 5px;
}
.markdown-content .attachment-gallery {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.markdown-content .attachment-gallery .attachment {
  flex: 1 0 33%;
  padding: 0 0.5em;
  max-width: 33%;
}
.markdown-content .attachment-gallery.attachment-gallery--2 .attachment, .markdown-content .attachment-gallery.attachment-gallery--4 .attachment {
  flex-basis: 50%;
  max-width: 50%;
}
