tags.tagify {
  --tag-inset-shadow-size: 3em;
  --tags-border-color: rgb(var(--color-primary-500));
  --tags-hover-border-color: rgb(var(--color-primary-500));
  --tags-hover-border-color: rgb(var(--color-primary-500));
}

.tagify__dropdown {
  --tagify-dd-color-primary: rgb(var(--color-primary-500));
}

tags.tagify {
  @apply !p-1 !gap-1 !border-gray-200;

  &.tagify--focus {
    @apply !border-gray-600;
  }

  span.tagify__input {
    @apply !m-0 !pl-1;
  }
}

tag.tagify__tag {
  @apply text-sm !m-0;
}

/* When the tags field is used to select just one value there's a weird ZeroWidthSpace (\u200B) character that breaks the vertical spacing. */
[data-tags-field-mode-value="select"] tags.tagify {
  height: 40px;
}
