tags.tagify {
  --tag-inset-shadow-size: 3em;
  --tags-border-color: rgb(var(--color-primary-500));
  --tags-hover-border-color: rgb(var(--color-primary-500));
  --tags-hover-border-color: rgb(var(--color-primary-500));
}

.tagify__dropdown {
  --tagify-dd-color-primary: rgb(var(--color-primary-500));
}

tags.tagify {
  @apply !ms-0 !gap-1 !border-gray-200;

  &.tagify--focus {
    @apply !border-gray-600;
  }

  span.tagify__input {
    @apply !m-0 !ps-1;
  }
}

tag.tagify__tag {
  @apply text-sm !ms-0;
}
