/* EDIT STYLES */

.tiptap {
  @apply m-0 p-4 outline-none min-h-44;

  > * + * {
    @apply mt-4;
  }

  ul, ol {
    @apply pl-6 list-outside;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }
}

.tiptap .is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap__field {
  @apply w-full mb-4 border border-gray-200 rounded;
}

.tiptap__editor {
  @apply border-none;
}

.tiptap__toolbar {
  @apply flex items-center justify-between px-3 py-2 border-b bg-gray-50;
}

.tiptap__toolbar-area {
  @apply flex flex-wrap items-center divide-gray-200 sm:divide-x sm:rtl:divide-x-reverse;
}

.tiptap__button-group {
  @apply flex flex-wrap items-center space-x-1 rtl:space-x-reverse;

  &:not(:first-child):not(:last-child) {
    @apply px-4;
  }

  &:first-child {
    @apply pe-4;
  }

  &:last-child {
    @apply ps-4;
  }
}

.tiptap__button {
  @apply p-1 text-gray-500 rounded cursor-pointer;

  &:hover {
    @apply bg-gray-100;
  }

  &:active {
    @apply bg-gray-200;
  }

  svg {
    @apply block h-6;
  }
}

.tiptap__button--selected {
  @apply bg-gray-900/10;
}

/* LINK STYLES */

.tiptap__link-area {
  transition: all 0.2s;
  opacity: 1;
  display: flex;
  gap: 12px;
}

.tiptap__link-area--hidden {
  display: none;
}

.tiptap__link-field::placeholder {
  font-style: italic;
  color: #737373;
}

.tiptap__link-field {
  border: 1px solid #b3b3b3;
  border-radius: 20px;
  padding: 0.2rem 1rem;
  width: 100%;
  font-size: 0.9rem;
}

.tiptap__link-field:focus::placeholder {
  color: rgba(0, 0, 0, 0);
}

.tiptap__link-button {
  background-color: #eaeaea !important;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
}

/* SHOW STYLES */

.tiptap__content {
  @apply py-2 max-w-4xl;

  > * + * {
    @apply mt-4;
  }

  ul, ol {
    @apply pl-6 list-outside;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }
}
