module Avo
  module Components
    module <%= class_name %>
      class Field < Avo::Fields::Field
        def initialize(name, **args, &block)
          @defaults = {
            sortable: true,
            component: '<%= simple_name %>-field',
            computable: true,
          }.merge(@defaults || {})

          super(name, **args, &block)
        end
      end
    end
  end
end
