module Avo
  module Fields
    module <%= class_name %>
      class ToolProvider
        ROOT_PATH = Pathname.new(File.join(__dir__))

        def self.boot
          Avo::App.initializing do
            Avo::App.script '<%= parameter_name %>.js', "#{File.dirname(__FILE__)}/frontend"
          end
        end
      end
    end
  end
end
