<a href="#" class="back-to-top" data-controller="back-to-top" data-back-to-top-threshold-value="<%= Avo.configuration.back_to_top[:threshold] %>" data-action="click->back-to-top#scrollToTop">
  <svg class="back-to-top__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
    <path d="M13 20h-2V8l-5.5 5.5-1.42-1.42L12 4.16l7.92 7.92-1.42 1.42L13 8v12z"></path>
  </svg>
  <span><%= t("avo.back_to_top") %></span>
</a>
