<div class="text-center text-sm text-gray-700 <%= 'print:hidden' if Avo.configuration.hide_layout_when_printing %>">
  <a href="https://gcubedinternational.com/" target="_blank">Gcubed International</a> · &copy; <%= Date.today.year %> · <span>v<%= Avo::VERSION %></span>
</div>
