<div data-controller="search" class="global-search" data-turbo-remove-before-cache>
  <div class="inline-block"
    data-search-target="autocomplete"
    data-search-resource="global"
    data-translation-keys='{"no_item_found": "<%= I18n.translate 'avo.no_item_found' %>", "placeholder": "<%= I18n.translate 'avo.search.placeholder' %>", "cancel_button": "<%= I18n.translate 'avo.search.cancel_button' %>"}'
    data-debounce-timeout='<%= Avo.configuration.search_debounce %>'
  >
  </div>
  <div class="relative top-[-5px] inline-flex text-gray-400 text-sm leading-5 py-0.5 px-1.5 border border-gray-300 rounded-md cursor-pointer"
    data-search-target="button"
  >
    <span class="sr-only">Press </span>
    <kbd class="font-sans">
      <abbr title="Command" class="no-underline pc:hidden">⌘</abbr>
      <abbr title="CTRL" class="no-underline mac:hidden">CTRL +&nbsp; </abbr>
    </kbd>
    <span class="sr-only"> and </span>
    <kbd class="font-sans">K</kbd><span class="sr-only"> to search</span>
  </div>
</div>
