<div class="relative bg-white p-2 h-20 w-full flex flex-shrink-0 items-center z-50 px-6" v-if="layout !== 'blank'">
  <div>
    <%= render partial: "avo/partials/header" %>
  </div>
  <div class="flex-1 flex ml-4 pl-4">
    <%= render partial: "avo/partials/global_search" if ::Avo::App.license.has_with_trial(:global_search) && ::Avo.configuration.feature_enabled?(:global_search) %>
  </div>
  <div class="align-end">
    <% # Notifications %>
  </div>
</div>
