<div
  class="relative bg-white p-2 w-full flex flex-shrink-0 items-center z-50 px-4 lg:px-8 border-b space-x-4 lg:space-x-0 min-h-[4rem] <%= 'print:hidden' if Avo.configuration.hide_layout_when_printing %>"
  v-if="layout !== 'blank'"
>
  <%= a_button class: 'lg:hidden', icon: 'menu', data: { action: 'click->mobile#toggleSidebar' } %>
  <div class="flex-1 flex items-center justify-between lg:justify-start space-x-8">
    <div class="m-0">
      <%= render partial: "avo/partials/header" %>
    </div>
    <div class="flex">
      <%= render partial: "avo/partials/global_search" if ::Avo::App.license.has_with_trial(:global_search) && ::Avo.configuration.feature_enabled?(:global_search) %>
    </div>
  </div>
</div>
