<div data-controller="search" class="resource-search flex items-center h-full w-full" data-turbo-remove-before-cache>
  <div class="w-full"
    data-search-target="autocomplete"
    data-search-resource="<%= resource %>"
    data-translation-keys='{"no_item_found": "<%= I18n.translate 'avo.no_item_found' %>"}'
    data-debounce-timeout='<%= Avo.configuration.search_debounce %>'
  >
  </div>
  <div class="hidden relative inline-flex text-gray-400 text-sm border border-gray-300 rounded-full cursor-pointer" data-search-target="button"></div>
</div>
