<div class="flex">
  <div class="button-group">
    <% tabs.each do |tab| %>
      <% is_active_view = tab.name.to_s == active_tab_name.to_s %>
      <%= a_link resource_path(resource: @resource, model: @resource.model, keep_query_params: true, active_tab: tab.name),
          color: is_active_view ? :gray : :primary,
          rounded: false,
          size: :sm,
          class: is_active_view ? ' bg-gray-100 border-gray-300' : ' z-20',
          title: tab,
          data: {
            tippy: 'tooltip',
            'turbo-frame': 'tabs_container',
            control: "view-type-toggle-#{tab}"
          } do %>
        <%= tab.name %>
      <% end %>
    <% end %>
  </div>
</div>
