<tr
  class="hover:bg-gray-100 hover:shadow-row relative z-20 border-b"
  data-resource-name="<%= resource.plural_name.downcase %>"
  data-resource-id="<%= resource.model.id %>"
  data-controller="table-row"
>
  <td class="w-10">
    <div class="flex justify-center h-full">
      <input type="checkbox"
        class="mx-3 w-4 h-4"
        data-action="input->table-row#toggle"
      />
    </div>
  </td>
  <% resource.get_fields(view_type: :table).each_with_index do |field, index| %>
    <%= index_field field, index, resource %>
  <% end %>
  <td class="text-right whitespace-no-wrap px-2">
    <div class="flex items-center justify-end flex-grow-0 h-full w-full">
      <%= render partial: 'avo/partials/item_controls', locals: {resource: resource} %>
    </div>
  </td>
</tr>
