<%= turbo_frame_tag group.turbo_frame_id do %>
  <div class="border rounded-lg p-2 -mx-2 -my-2 lg:p-4 lg:-mx-4 lg:-my-4 space-y-4">
    <div>
      <%= render partial: 'avo/partials/tabs_toggle', locals: { group: group, tabs: group.items, active_tab_name: active_tab.name } %>
    </div>
    <% if active_tab.items.present? %>
      <div class="space-y-12">
        <% active_tab.items.each do |item| %>
          <%= render Avo::ItemSwitcherComponent.new resource: @resource, item: item, index: index, view: @view %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
