<%= turbo_frame_tag group.turbo_frame_id do %>
  <div class="border rounded-lg p-2 -mx-2 -my-2 lg:p-4 lg:-mx-4 lg:-my-4">
    <div class="mb-4">
      <%= render partial: 'avo/partials/tabs_toggle', locals: { group: group, tabs: group.tabs, active_tab_name: active_tab.name } %>
    </div>
    <div class="space-y-12">
      <% active_tab.items.each_with_index do |item, index| %>
        <%= render partial: 'avo/partials/item_switcher', locals: { item: item, index: index } %>
      <% end %>
    </div>
  </div>
<% end %>
