<% if available_view_types.count > 1 %>
  <%
    view_type_hotkeys = { table: "v t", grid: "v g", map: "v m" }
  %>
  <div class="flex">
    <div class="button-group">
      <% available_view_types.each do |type| %>
        <% view_info = Avo.view_type_manager.find(type) %>
        <% is_active_view = view_type.to_s == type.to_s %>
        <% hotkey = view_type_hotkeys[type.to_sym] %>

        <%= a_link url_for(params.permit!.merge(view_type: type)).to_s,
          icon: is_active_view ? view_info&.[](:active_icon) : view_info&.[](:icon),
          style: :primary,
          class: is_active_view ? "button--active" : "",
          title: t('avo.switch_to_view', view_type: type),
          data: {
            tippy: 'tooltip',
            'turbo-frame': turbo_frame,
            control: "view-type-toggle-#{type}",
            is_active: is_active_view,
            **(hotkey ? { hotkey: hotkey, show_hotkey_badge: false } : {})
          }
        %>
      <% end %>
    </div>
  </div>
<% end %>
