<% if available_view_types.count > 1 %>
  <div class="flex">
    <div class="button-group">
      <% available_view_types.each do |type| %>
        <% view_info = Avo.view_type_manager.find(type) %>
        <% is_active_view = view_type.to_s == type.to_s %>

        <%= a_link url_for(params.permit!.merge(view_type: type)).to_s,
          icon: is_active_view ? view_info&.[](:active_icon) : view_info&.[](:icon),
          color: :primary,
          class: is_active_view ? "button--active" : "",
          title: t('avo.switch_to_view', view_type: type),
          data: {
            tippy: 'tooltip',
            'turbo-frame': turbo_frame,
            control: "view-type-toggle-#{type}",
            is_active: is_active_view
          }
        %>
      <% end %>
    </div>
  </div>
<% end %>
