name: Build release notes

on:
  pull_request:
    branches:
      - 1.x

jobs:
  update_release_notes:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: release-drafter/release-drafter@v5
        id: release_drafter
        with:
          config-name: release-drafter-1x.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
