name: 'Close stale issues and PRs'
on:
  schedule:
    - cron: '39 1 * * *'

permissions:
  issues: write
  pull-requests: write

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v4
        with:
          days-before-stale: 15
          days-before-close: 15
          stale-issue-message: 'This issue has been marked as stale because there was no activity for the past 15 days.'
          stale-pr-message: 'This PR has been marked as stale because there was no activity for the past 15 days.'
          close-issue-message: 'Closing this because there was no activity for the past 15 days. Feel free to reopen if new information pops up ✌️'
          close-pr-message: 'Closing this because there was no activity for the past 15 days. Feel free to reopen if new information pops up ✌️'
          exempt-issue-labels: Stale exempt, Good first issue, Help wanted, bug, RFC, Task
          exempt-pr-labels: Stale exempt, Good first issue, Help wanted, bug, RFC, Task
